{% extends "base.html" %}

{% block title %}:: User Dashboard{% endblock %}

{% block js %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs" role="tablist" id="account-tabs">
            <li class="active"><a href="#tab-char" role="tab" data-toggle="tab">Characters</a></li>
            <li><a href="#tab-bp" role="tab" data-toggle="tab">Blueprint Settings</a></li>
            {% if current_user.is_admin -%}<li><a href="#tab-admin" role="tab" data-toggle="tab">Admin Dashboard</a></li>{%- endif %}
        </ul>
        <div class="tab-content">
            <div class="row fade in active tab-pane" id="tab-char">
                <div class="col-md-4 col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="pull-right"><button class="btn btn-xs btn-success"><i class="fa fa-plus" aria-hidden="true"></i></button></div>
                            <h3 class="panel-title btn-xs-lineheight"><i class="fa fa-caret-down" aria-hidden="true"></i> Alts</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table">
                            <thead>
                                <tr>
                                    <th>Character</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for alt in current_user.alts_characters.all() -%}
                                <tr>
                                    <td>{{ alt.character_name }}</td>
                                    <td class="td-valign-middle"><a href="#{{alt.character_id}}" class="btn btn-xs btn-danger pull-right"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                </tr>
                                {%- endfor %}
                            </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-md-8 col-sm-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title btn-xs-lineheight"><i class="fa fa-caret-down" aria-hidden="true"></i> Background tasks</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table">
                            <thead>
                                <tr>
                                    <th>Tasks</th>
                                    <th>Last run</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr><td>Update Skills</td><td>01/01/2017 13:37:00</td>
                                    <td><button style="margin-left:5px" class="btn btn-xs btn-info pull-right"><i class="fa fa-refresh" aria-hidden="true"></i></button>
                                    <button class="btn btn-xs btn-default pull-right" style="margin-left:5px"><i class="fa fa-cog" aria-hidden="true"></i></button></td>
                                </tr>
                                <tr><td>Update Assets</td><td>01/01/2017 13:37:00</td>
                                    <td><button style="margin-left:5px" class="btn btn-xs btn-info pull-right"><i class="fa fa-refresh" aria-hidden="true"></i></button>
                                    <button class="btn btn-xs btn-default pull-right" style="margin-left:5px"><i class="fa fa-cog" aria-hidden="true"></i></button></td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row fade tab-pane" id="tab-bp">
                <div class="col-md-4 col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="pull-right"><button class="btn btn-xs btn-default"><i class="fa fa-cog" aria-hidden="true"></i></button></div>
                            <h3 class="panel-title btn-xs-lineheight"><i class="fa fa-caret-down" aria-hidden="true"></i> Manufacturing Settings</h3>
                        </div>
                        <div class="panel-body">
                            Some configs<br>
                            Some configs<br>
                            Some configs<br>
                            Some configs<br>
                            Some configs<br>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="pull-right"><button class="btn btn-xs btn-default"><i class="fa fa-cog" aria-hidden="true"></i></button></div>
                            <h3 class="panel-title btn-xs-lineheight"><i class="fa fa-caret-down" aria-hidden="true"></i> Research Settings</h3>
                        </div>
                        <div class="panel-body">
                            Some configs<br>
                            Some configs<br>
                            Some configs<br>
                            Some configs<br>
                            Some configs<br>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="pull-right"><button class="btn btn-xs btn-default"><i class="fa fa-cog" aria-hidden="true"></i></button></div>
                            <h3 class="panel-title btn-xs-lineheight"><i class="fa fa-caret-down" aria-hidden="true"></i> Invention Settings</h3>
                        </div>
                        <div class="panel-body">
                            Some configs<br>
                            Some configs<br>
                            Some configs<br>
                            Some configs<br>
                            Some configs<br>
                        </div>
                    </div>
                </div>
            </div>

            {% if current_user.is_admin -%}
            <div class="row fade tab-pane" id="tab-admin">
            bwahaha!
            </div>
            {%- endif %}
        </div>
    </div>
</div>
{% endblock %}

