
{% extends "base.html" %}

{% block title %}LazyBlacksmith: About this site / Disclaimer{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h4 class="mt-5">CCP Copyright Notice</h4>
            <p class="mb-5">
                EVE Online and the EVE logo are the registered trademarks of CCP hf. 
                All rights are reserved worldwide. All other trademarks are the property of their respective owners.
                EVE Online, the EVE logo, EVE and all associated logos and designs are the intellectual property of CCP hf. 
                All artwork, screenshots, characters, vehicles, storylines, world facts or other recognizable features of the 
                intellectual property relating to these trademarks are likewise the intellectual property of CCP hf. 
                CCP hf. has granted permission to LazyBlacksmith / khon.space to use EVE Online and all associated logos and designs for promotional 
                and information purposes on its website but does not endorse, and is not in any way affiliated with, LazyBlacksmith / khon.space. 
                CCP is in no way responsible for the content on or functioning of this website, nor can it be liable for any damage arising from the use of this website.
            </p>

            <hr>

            <h4 class="mt-5">Licence</h4>
            <p class="mb-5">
            LazyBlacksmith (khon.space) uses the BSD-3 Clause Licence. <br>
            The full licence can be found <a href="https://github.com/Kyria/LazyBlacksmith/blob/master/LICENSE">here</a>.
            </p>

            <hr>

            <h4 class="mt-5">Cookies</h4>
            <p class="mb-5">
            khon.space currently uses cookies for autologin.
            We use cookies to give you the best experience possible, such as logging in and staying logged in. We will not, in any circumstances, use cookies for commercial purpose or for targeted advertisement.<br>
            This only applies to the current website, rehosted version of LazyBlacksmith may have different cookies politics.
            </p>
        </div>
    </div>
{% endblock %}
