{% extends "base.html" %}

{% block title %}:: Item Prices{% endblock %}

{% block js %}
    <script>
        lb.urls.itemSearchUrl   = "{{ url_for('ajax_eve_sde.item_search', name='0000') }}";

        itemPriceLookup.options.useIcons =  {% if config.USE_CCP_ICONS %}true{% else %}false{% endif %};
        {% for region in regions -%}
        itemPriceLookup.regions[{{ region.id }}] = "{{ region.name }}";
        {% endfor %}

        lb.run('itemPriceLookup');
    </script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <div class="card bg-light mb-3">
            <div class="card-header">Search Item</div>
            <div class="card-body">
                <input id="itemSearch" type="text" class="form-control" placeholder="Item name">
            </div>

            <div class="list-group list-group-flush" id="resultList"></div>
        </div>
    </div>

    <div class="col-md-9" id="content">
        <div class="row">
            <div class="col-10">
                <h4 id="item-name"></h4>
            </div>
            <div class="col-2 text-right" id="item-icon"></div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <table class="price-list lb-table">
                    <thead>
                        <tr>
                            <th class="py-4">Region</th>
                            <th class="py-4">Min Sell</th>
                            <th class="py-4">Max Buy</th>
                            <th class="py-4">Last Updated</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

