__pycache__
*.pyc
*.pyo
*.pyd
*.log
.Python
env
venv
env3
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
*.log
.git
node_modules
.eslintrc.json
.gitattributes
.gitignore
.pylintrc
.vscode
tmp
*.sqlite

# celery stuff
celerybeat-schedule.db

# configs
config.py

# docker stuff...
Dockerfile