# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# nodeJS stuff
node_modules/

# OSX hidden files
.DS_Store

# project stuff
config.py
lazyblacksmith/static/ccp/Types/
*.sqlite
*.sublime-*
lazyblacksmith/static/js/bootstrap.js
lazyblacksmith/static/js/lazybl-combined.min.js
lazyblacksmith/static/css/theme-default-combined.css
lazyblacksmith/static/css/theme-default-combined.min.css
lazyblacksmith/static/css/theme-default-combined.min.css.map
lazyblacksmith/static/css/theme-default.css
lazyblacksmith/static/js/lazybl-combined.min.js.map
lazyblacksmith/static/bootstrap/js/tests/

env3/
