DEBUG = True
SECRET_KEY = 'YouNeedToChangeThis!'
PORT = 5015
HOST = '127.0.0.1'

# flask configs
SQLALCHEMY_DATABASE_URI = 'mysql://username:password@server/db'

# application config
USE_CCP_ICONS = False

# cache configuration
# - use https://pythonhosted.org/Flask-Cache/ to configure the cache you want
CACHE_TYPE = null