{% extends "base.html" %}

{% block title %}:: Search blueprint{% endblock %}

{% block js %}
    <script>
        lb.urls.manufacturingUrl    = "{{ url_for('blueprint.manufacturing', item_id='111111') }}";
        lb.urls.buildCostUrl        = "{{ url_for('ajax_eve_sde.build_cost_item', material_efficiency='0,1,2,3,4,5', blueprint_id=invention_products[0].product_id, region_id=10000002) }}";

        {{ blueprint.item_id }}
        inventionBlueprint.options.inventionBaseCost = {{ invention_base_cost }};
        inventionBlueprint.options.copyBaseCost = {{ copy_base_cost }};
        inventionBlueprint.options.baseCopyTime = {% if activity_copy is not none %}{{ activity_copy.time }}{% else %}0{% endif %};
        inventionBlueprint.options.baseInventionTime = {{ activity_invention.time }};
        inventionBlueprint.options.baseInventionProbability = {{ invention_products[0].probability }};
        inventionBlueprint.options.baseOutputRun = {{ invention_products[0].quantity }};

        inventionBlueprint.indexes["Jita"] = {};
        {% for activity, index in index_list.iteritems() -%}
        inventionBlueprint.indexes["Jita"][{{ activity }}] = {{ index }};
        {% endfor %}

        {% for inv_mat in invention_materials %}
        inventionBlueprint.matData.idList.push({{ inv_mat.material_id }});
        inventionBlueprint.matData.materials[{{ inv_mat.material_id }}] = {
            quantity: {{ inv_mat.quantity }},
            id: {{ inv_mat.material_id }},
            name: '{{ inv_mat.material.name }}',
        }
        {% endfor %}

        {% for decryptor in decryptors %}
        inventionBlueprint.decryptorData.idList.push({{ decryptor.item_id }});
        inventionBlueprint.decryptorData.items[{{ decryptor.item_id }}] = {
            name: '{{ decryptor.item.name }}',
            probability: {{ decryptor.probability_multiplier }},
            me: {{ decryptor.material_modifier }},
            te: {{ decryptor.time_modifier }},
            run: {{ decryptor.run_modifier }},
        };
        {% endfor %}


        lb.run('inventionBlueprint');
    </script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3 col-sm-4">
        <div class="well">
            <div>
                Facility<br>
                <select name="facility" id="facility" class="form-control input-sm">
                    <option value="0" selected>Station</option>
                    <option value="1">Design Laboratory</option>
                    <option value="2">Experimental Laboratory</option>
                    <option value="3">Raitaru (M-EC)</option>
                    <option value="4">Azbel (L-EC)</option>
                    <option value="5">Sotiyo (XL-EC)</option>
                    <option value="6">Other Structures</option>
                </select>
            </div>
            <div class="structure-configs" style="display: none; margin-top:5px">
                Invention Time Rigs <br>
                <div class="btn-group" id="structure-invention-rig" data-toggle="buttons" style="width:100%">
                    <label class="btn btn-sm btn-default col-xs-4 active">
                        <input type="radio" name="structure-invention-rig" autocomplete="off" value="0" checked>None
                    </label>
                    <label class="btn btn-sm btn-default col-xs-4">
                        <input type="radio" name="structure-invention-rig" autocomplete="off" value="1">T1
                    </label>
                    <label class="btn btn-sm btn-default col-xs-4">
                        <input type="radio" name="structure-invention-rig" autocomplete="off" value="2">T2
                    </label>
                </div>
                Copy Time Rigs <br>
                <div class="btn-group" id="structure-copy-rig" data-toggle="buttons" style="width:100%">
                    <label class="btn btn-sm btn-default col-xs-4 active">
                        <input type="radio" name="structure-copy-rig" autocomplete="off" value="0" checked>None
                    </label>
                    <label class="btn btn-sm btn-default col-xs-4">
                        <input type="radio" name="structure-copy-rig" autocomplete="off" value="1">T1
                    </label>
                    <label class="btn btn-sm btn-default col-xs-4">
                        <input type="radio" name="structure-copy-rig" autocomplete="off" value="2">T2
                    </label>
                </div>
                System Security<br>
                <div class="btn-group" id="structure-sec-status" data-toggle="buttons" style="width:100%">
                    <label class="btn btn-sm btn-default active col-xs-4">
                        <input type="radio" name="structure-sec-status" autocomplete="off" value="h" checked>HS
                    </label>
                    <label class="btn btn-sm btn-default col-xs-4">
                        <input type="radio" name="structure-sec-status" autocomplete="off" value="l">LS
                    </label>
                    <label class="btn btn-sm btn-default col-xs-4">
                        <input type="radio" name="structure-sec-status" autocomplete="off" value="n">NS/WH
                    </label>
                </div>
            </div>
        </div>
        <div class="well">
            <div>
                System<br>
                <input id="system" type="text" class="form-control input-sm typeahead" value="Jita">
            </div>
        </div>
        <div class="well">
            <div>
                Price Region<br>
                <select name="region" id="region" class="form-control input-sm">
                    <option disabled selected>Select a region</option>
                    {% for region in regions -%}
                    <option value="{{ region.id }}" {% if region.id == 10000002 -%}selected{% endif %}>{{ region.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="well">
            <div>
                Decryptor (Chance / ME / TE / Runs)<br>
                <select name="decryptor" id="decryptor" class="form-control input-sm">
                    <option selected value="0">None</option>
                    {% for decryptor in decryptors -%}
                    <option value="{{ decryptor.item_id }}">
                        {{ decryptor.item.name }} ({{ (decryptor.probability_multiplier - 1) * 100}}% / {{ decryptor.material_modifier }} / {{ decryptor.time_modifier }} / {{ decryptor.run_modifier }})
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div>
                Number of inventions<br>
                <input id="invention-number" type="text" class="form-control input-sm" value="1">
            </div>
        </div>
        <div class="well">
            <div class="slider">
                Adv. Industry (<span id="adv-industry-level-display">0</span>)<br>
                <div id="adv-industry-level"></div>
            </div>
            {% if activity_copy is not none %}
            <div class="slider">
                Science (<span id="science-level-display">0</span>)<br>
                <div id="science-level"></div>
            </div>
            {% endif %}
        </div>
        <div class="well">
            {% if activity_copy is not none %}
            <div>
                Copy Implant<br>
                <select name="copyImplant" id="copyImplant" class="form-control input-sm">
                    <option value="1.00" selected>None</option>
                    <option value="0.99">SC-801</option>
                    <option value="0.97">SC-803</option>
                    <option value="0.95">SC-805</option>
                </select>
            </div>
            {% endif %}
            <div class="slider">
                {{ datacore_skills[0] }}
                (<span id="datacore1-display">0</span>)<br>
                <div id="datacore1-level"></div>
            </div>
            <div class="slider">
                {{ datacore_skills[1] }}
                (<span id="datacore2-display">0</span>)<br>
                <div id="datacore2-level"></div>
            </div>
            <div class="slider">
                {{ encryption_skill }}
                (<span id="encryption-display">0</span>)<br>
                <div id="encryption-level"></div>
            </div>
        </div>

    </div>

    <div class="col-md-9 col-sm-8">
        <div class="row">
            <div class="col-xs-10">
                <h4 id="item-name">{{ blueprint.name }}</h4>
            </div>
            <div class="col-xs-2 text-right" id="item-icon">
                {% if config.USE_CCP_ICONS -%}
                <img src="{{ blueprint.icon_32() }}" alt="{{ blueprint.name }}"/>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <table class="invention-data table table-condensed table-hover table-striped">
                    <thead>
                        <th colspan="2">Activity Time</th>
                    </thead>
                    <tbody>
                        {% if activity_copy is not none %}
                        <tr>
                            <td class="title">BPO Copy</td>
                            <td class="data copy-time">{{ activity_copy.time | duration }}</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td class="title">Invention</td>
                            <td class="data invention-time">{{ activity_invention.time | duration }}</td>
                        </tr>
                    </tbody>
                </table>


                <table class="invention-data table table-condensed table-hover table-striped">
                    <thead>
                        <th colspan="2">Outputs</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="title">Success Probability</td>
                            <td class="data invention-probability">{{ (invention_products[0].probability * 100) | intcomma }}%</td>
                        </tr>
                        <tr>
                            <td class="title">Blueprint</td>
                            <td class="data output">
                            {% for inv_prod in invention_products -%}
                            {% if config.USE_CCP_ICONS -%}
                                <a href="{{ url_for('blueprint.manufacturing', item_id=inv_prod.product_id) }}" target="_blank" title="{{- inv_prod.product.name }}" data-toggle="tooltip" data-placement="top"><img src="{{ inv_prod.product.icon_32() }}" alt="{{ inv_prod.product.name }}"></a>
                                {%- if (loop.index) % 6 == 0 %}<br>{% endif %}
                            {%- else -%}
                                {{- inv_prod.product.name }}<br>
                            {%- endif %}
                            {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td class="title">Stats (Runs / ME / TE)</td>
                            <td class="data invention-stats"><span class="output-qty">{{ invention_products[0].quantity }}</span> / <span class="output-me">2</span>% / <span class="output-te">4</span>%</td>
                        </tr>
                    </tbody>
                </table>


                <table class="invention-data table table-condensed table-hover table-striped">
                    <thead>
                        <th colspan="2">Invention Costs</th>
                    </thead>
                    <tbody>
                        {% if activity_copy is not none %}
                        <tr>
                            <td class="title">BPO Copy</td>
                            {% set copy_cost = "%0.2f" % (copy_base_cost * index_list[5] * 0.02 * 1.1) -%}
                            <td class="data copy-cost">{{ copy_cost | float | intcomma }}</td>
                        </tr>
                        {% else %}
                        {% set copy_cost = "0" %}
                        {% endif %}
                        <tr>
                            <td class="title">Invention Installation</td>
                            {% set invention_cost = "%0.2f" % (invention_base_cost * index_list[8] * 0.02 * 1.1) -%}
                            <td class="data invention-install-cost">{{ invention_cost | float | intcomma }}</td>
                        </tr>
                        <tr>
                            {% set invention_total_cost = (copy_cost | float) + (invention_cost | float) -%}
                            <td class="title">Total</td>
                            <td class="data invention-total-cost">{{ invention_total_cost | intcomma }}</td>
                        </tr>
                        <tr>
                            <td class="title">Total with Probability</td>
                            <td class="data invention-total-cost-proba">{{ ("%0.2f" % (invention_total_cost / invention_products[0].probability)) | intcomma }}</td>
                        </tr>
                        <tr>
                            <td class="title">
                                Output / Run
                                <span class='small' data-toggle="tooltip" data-placement="top" title="Price based on sell orders in The Forge (this cost is an approximate value only to compare inventions!)">
                                    <i class="fa fa-exclamation-circle"></i>
                                </span>
                            </td>
                            <td class="data output-cost">0</td>
                        </tr>
                        <tr>
                            <td class="title">Output / Run with Invention</td>
                            <td class="data output-cost-invention">0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="materials-prices table table-condensed table-hover table-striped">
                    <thead>
                        <tr>
                            {% if config.USE_CCP_ICONS -%}<th>&nbsp;</th>{%- endif %}
                            <th>Name</th>
                            <th>Quantity</th>
                            <th>Price Per Unit</th>
                            <th>Total Price</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for inv_mat in invention_materials %}
                        <tr id="mat-{{ inv_mat.material_id }}">
                            {% if config.USE_CCP_ICONS -%}<td class="icon"><img src="{{ inv_mat.material.icon_32() }}" alt="{{ inv_mat.material.name }}"></td>{%- endif %}
                            <td>{{ inv_mat.material.name }}</td>
                            <td class="quantity">{{ inv_mat.quantity }}</td>
                            <td class="ppu price">0.00</td>
                            <td class="total price">0.00</td>
                        </tr>
                        {% endfor %}
                        <tr id="mat-decryptor">
                            {% if config.USE_CCP_ICONS -%}<td class="icon"><img src="{{ decryptors[0].item.icon_32() }}" alt="Decryptor"></td>{%- endif %}
                            <td class="name">Decryptor</td>
                            <td class="quantity">0</td>
                            <td class="ppu price">0.00</td>
                            <td class="total price">0.00</td>
                        </tr>
                    </tbody>

                    <tfoot>
                        <tr>
                            {% if config.USE_CCP_ICONS -%}<td>&nbsp;</td>{%- endif %}
                            <td colspan="3" class="title">Total Material Cost</td>
                            <td class="invention-material-cost">0.00</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

