{% extends "base.html" %}

{% block title %}:: Search blueprint{% endblock %}


{% block js %}
{% set pref = current_user.pref %}
    <script>
        lb.urls.manufacturingUrl    = "{{ url_for('blueprint.manufacturing', item_id='111111') }}"
        lb.urls.buildCostUrl        = "{{ url_for('ajax_eve_sde.build_cost_item', material_efficiency='0,1,2,3,4,5', blueprint_id=invention_products[0].product_id, region_id=10000002) }}"

        inventionBlueprint.options.inventionBaseCost = {{ invention_base_cost }}
        inventionBlueprint.options.copyBaseCost = {{ copy_base_cost }}
        inventionBlueprint.options.baseCopyTime = {% if activity_copy is not none %}{{ activity_copy.time }}{% else %}0{% endif %}
        inventionBlueprint.options.baseInventionTime = {{ activity_invention.time }}
        inventionBlueprint.options.baseInventionProbability = {{ invention_products[0].probability }}
        inventionBlueprint.options.baseOutputRun = {{ invention_products[0].quantity }}
        inventionBlueprint.options.copyImplant = {{ pref.invention_copy_implant }}

        inventionBlueprint.indexes['{{ pref.invention_system|lower }}'] = {}
        {% for activity, index in index_list.items() -%}
        inventionBlueprint.indexes['{{ pref.invention_system|lower }}'][{{ activity }}] = {{ index }}
        {% endfor %}

        {% for inv_mat in invention_materials -%}
        inventionBlueprint.matData.idList.push({{ inv_mat.material_id }})
        inventionBlueprint.matData.materials[{{ inv_mat.material_id }}] = {
            quantity: {{ inv_mat.quantity }},
            id: {{ inv_mat.material_id }},
            name: '{{ inv_mat.material.name }}',
        }
        {% endfor -%}
        {%- if blueprint.is_ancient_relic() %}
        inventionBlueprint.matData.idList.push({{ blueprint.id }})
        inventionBlueprint.matData.materials[{{ blueprint.id }}] = {
            quantity: 1,
            id: {{ blueprint.id }},
            name: '{{ blueprint.name }}',
        }
        {% endif -%}

        {%- for decryptor in decryptors -%}
        inventionBlueprint.decryptorData.idList.push({{ decryptor.item_id }})
        inventionBlueprint.decryptorData.items[{{ decryptor.item_id }}] = {
            id: {{ decryptor.item_id }},
            name: '{{ decryptor.item.name }}',
            probability: {{ decryptor.probability_multiplier }},
            me: {{ decryptor.material_modifier }},
            te: {{ decryptor.time_modifier }},
            run: {{ decryptor.run_modifier }},
        }
        {% endfor -%}

        inventionBlueprint.options.system = '{{ pref.invention_system|lower }}'
        inventionBlueprint.options.region = {{ pref.invention_price_region }}
        inventionBlueprint.options.regionType = '{{ pref.invention_price_type }}'
        inventionBlueprint.options.structureInventionRig = {{ pref.invention_invention_rig }}
        inventionBlueprint.options.structureCopyRig = {{ pref.invention_copy_rig }}
        inventionBlueprint.options.structureSecStatus = '{{ pref.invention_security }}'
        inventionBlueprint.options.facility = {{ pref.invention_facility }}

        {% for skill in datacore_skills -%}
        inventionBlueprint.options.datacoreLevel{{loop.index}} = {{ skill.level }}
        {% endfor -%}
        inventionBlueprint.options.encryptionLevel = {{ encryption_skill.level }}
        inventionBlueprint.options.advancedIndustryLevel = {{ industry_skills['adv_industry'] }}
        inventionBlueprint.options.scienceLevel = {{ industry_skills['science'] }}

        lb.run('inventionBlueprint')
    </script>
{% endblock %}

{% block content %}
{% set pref = current_user.pref %}
<div class="row">
    <div class="col-md-3 col-sm-4">
        <div class="card bg-light mb-3">
            <div class="card-body">
                Facility<br>
                <div class="mt-1">
                    <select name="facility" id="facility" class="form-control form-control-sm">
                        <option value="0" {% if pref.invention_facility == 0 -%}selected{%- endif %}>Station</option>
                        <option value="1" {% if pref.invention_facility == 1 -%}selected{%- endif %}>Raitaru (M-EC)</option>
                        <option value="2" {% if pref.invention_facility == 2 -%}selected{%- endif %}>Azbel (L-EC)</option>
                        <option value="3" {% if pref.invention_facility == 3 -%}selected{%- endif %}>Sotiyo (XL-EC)</option>
                        <option value="4" {% if pref.invention_facility == 4 -%}selected{%- endif %}>Other Structures</option>
                    </select>
                </div>
                <div class="structure-configs mt-3" style="{% if not pref.is_structure(pref.invention_facility) -%}display: none;{%- endif %}">
                    Invention Time Rigs<br>
                    <div class="btn-group btn-group-toggle w-100 mt-1" id="structure-invention-rig" data-toggle="buttons">
                        <label class="col btn btn-sm btn-secondary {% if pref.invention_invention_rig == 0 -%}active{%- endif %}">
                            <input type="radio" name="structure-invention-rig" autocomplete="off" value="0" {% if pref.invention_invention_rig == 0 -%}checked{%- endif %}>None
                        </label>
                        <label class="col btn btn-sm btn-secondary {% if pref.invention_invention_rig == 1 -%}active{%- endif %}">
                            <input type="radio" name="structure-invention-rig" autocomplete="off" value="1" {% if pref.invention_invention_rig == 1 -%}checked{%- endif %}>T1
                        </label>
                        <label class="col btn btn-sm btn-secondary {% if pref.invention_invention_rig == 2 -%}active{%- endif %}">
                            <input type="radio" name="structure-invention-rig" autocomplete="off" value="2" {% if pref.invention_invention_rig == 2 -%}checked{%- endif %}>T2
                        </label>
                    </div>
                </div>
                <div class="structure-configs mt-3" style="{% if not pref.is_structure(pref.invention_facility) -%}display: none;{%- endif %}">
                    Copy Time Rigs<br>
                    <div class="btn-group btn-group-toggle w-100 mt-1" id="structure-copy-rig" data-toggle="buttons">
                        <label class="col btn btn-sm btn-secondary {% if pref.invention_copy_rig == 0 -%}active{%- endif %}">
                            <input type="radio" name="structure-copy-rig" autocomplete="off" value="0" {% if pref.invention_copy_rig == 0 -%}checked{%- endif %}>None
                        </label>
                        <label class="col btn btn-sm btn-secondary {% if pref.invention_copy_rig == 1 -%}active{%- endif %}">
                            <input type="radio" name="structure-copy-rig" autocomplete="off" value="1" {% if pref.invention_copy_rig == 1 -%}checked{%- endif %}>T1
                        </label>
                        <label class="col btn btn-sm btn-secondary {% if pref.invention_copy_rig == 2 -%}active{%- endif %}">
                            <input type="radio" name="structure-copy-rig" autocomplete="off" value="2" {% if pref.invention_copy_rig == 2 -%}checked{%- endif %}>T2
                        </label>
                    </div>
                </div>
                <div class="structure-configs mt-3" style="{% if not pref.is_structure(pref.invention_facility) -%}display: none;{%- endif %}">
                    System Security<br>
                    <div class="btn-group btn-group-toggle w-100 mt-1" id="structure-sec-status" data-toggle="buttons">
                        <label class="col btn btn-sm btn-secondary {% if pref.invention_security == 'h' -%}active{%- endif %}">
                            <input type="radio" name="structure-sec-status" autocomplete="off" value="h" {% if pref.invention_security == 'h' -%}checked{%- endif %}>HS
                        </label>
                        <label class="col btn btn-sm btn-secondary {% if pref.invention_security == 'l' -%}active{%- endif %}">
                            <input type="radio" name="structure-sec-status" autocomplete="off" value="l" {% if pref.invention_security == 'l' -%}checked{%- endif %}>LS
                        </label>
                        <label class="col btn btn-sm btn-secondary {% if pref.invention_security == 'n' -%}active{%- endif %}">
                            <input type="radio" name="structure-sec-status" autocomplete="off" value="n" {% if pref.invention_security == 'n' -%}checked{%- endif %}>NS/WH
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="card bg-light mb-3">
            <div class="card-body">
                System<br>
                <input id="system" type="text" class="form-control form-control-sm typeahead" value="{{ pref.invention_system }}">
                <div class="mt-3">Price Region</div>
                <div class="input-group">
                    <select name="region" id="region" class="form-control form-control-sm">
                        <option disabled>Select a region</option>
                        {% for region in regions -%}
                        <option value="{{ region.id }}" {% if region.id == pref.invention_price_region -%}selected{% endif %}>{{ region.name }}</option>
                        {% endfor %}
                    </select>
                    <span class="input-group-btn">
                        <div class="btn-group btn-group-toggle" id="region-order-type" data-toggle="buttons">
                            <label class="btn btn-secondary btn-sm btn-sell {% if pref.invention_price_type == 'sell' -%}active{%- endif %}">
                                <input type="radio" name="region-order-type" autocomplete="off" value="sell" {% if pref.invention_price_type == 'sell' -%}checked{%- endif %}>Sell
                            </label>
                            <label class="btn btn-secondary btn-sm btn-buy {% if pref.invention_price_type == 'buy' -%}active{%- endif %}">
                                <input type="radio" name="region-order-type" autocomplete="off" value="buy" {% if pref.invention_price_type == 'buy' -%}checked{%- endif %}>Buy
                            </label>
                        </div>
                    </span>
                </div>
            </div>
        </div>

        <div class="card bg-light mb-3">
            <div class="card-body">
                Decryptor (Chance / ME / TE / Runs)<br>
                <select name="decryptor" id="decryptor" class="form-control form-control-sm mb-3">
                    <option selected value="0">None</option>
                    {% for decryptor in decryptors -%}
                    <option value="{{ decryptor.item_id }}">
                        {{ decryptor.item.name }} ({{ ((decryptor.probability_multiplier - 1) * 100) | floatcomma }}% / {{ decryptor.material_modifier }} / {{ decryptor.time_modifier }} / {{ decryptor.run_modifier }})
                    </option>
                    {% endfor %}
                </select>

                Number of inventions<br>
                <input id="invention-number" type="text" class="form-control form-control-sm" value="1">
            </div>
        </div>
        <div class="card bg-light mb-3">
            <div class="card-body">
                <div class="slider">
                    Adv. Industry (<span id="adv-industry-level-display">{{ industry_skills['adv_industry'] }}</span>)<br>
                    <div id="adv-industry-level"></div>
                </div>
                {% if activity_copy is not none %}
                <div class="slider">
                    Science (<span id="science-level-display">{{ industry_skills['science'] }}</span>)<br>
                    <div id="science-level"></div>
                </div>
                <div>
                    Copy Implant<br>
                    <select name="copyImplant" id="copyImplant" class="form-control form-control-sm mt-1">
                        <option value="1.00" {% if pref.invention_copy_implant == 1.00 %}selected{% endif %}>None</option>
                        <option value="0.99" {% if pref.invention_copy_implant == 0.99 %}selected{% endif %}>SC-801</option>
                        <option value="0.97" {% if pref.invention_copy_implant == 0.97 %}selected{% endif %}>SC-803</option>
                        <option value="0.95" {% if pref.invention_copy_implant == 0.95 %}selected{% endif %}>SC-805</option>
                    </select>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="card bg-light mb-3">
            <div class="card-body">
                {% for skill in datacore_skills %}
                <div class="slider">
                    {{ skill.name }}
                    (<span id="datacore{{loop.index}}-display">{{ skill.level }}</span>)<br>
                    <div id="datacore{{loop.index}}-level"></div>
                </div>
                {% endfor %}
                <div class="slider">
                    {{ encryption_skill.name }}
                    (<span id="encryption-display">{{ encryption_skill.level }}</span>)<br>
                    <div id="encryption-level"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="row">
            <div class="col-10 align-self-center">
                <h5 id="item-name">{{ blueprint.name }}</h5>
            </div>
            <div class="col-2 text-right" id="item-icon">
                {% if config.USE_CCP_ICONS -%}
                <img src="{{ blueprint.icon_32() }}" alt="{{ blueprint.name }}"/>
                {% endif %}
            </div>
        </div>
        <ul class="nav nav-tabs" id="tab-links" role="tablist">
            <li class="nav-item"><a class="active nav-link" href="#summary">Summary</a></li>
            <li class="nav-item"><a class="nav-link" href="#details">Details</a></li>
        </ul>
        <div class="tab-content">
            <div class="fade show active tab-pane" role="tabpanel" id="summary">
                <table class="lb-table-sm">
                    <thead>
                        <th class="text-center">Decryptor</th>
                        <th class="text-right">Chance</th>
                        <th class="text-right">Run</th>
                        <th class="text-right">ME</th>
                        <th class="text-right">TE</th>
                        <th class="text-right">Invention Cost</th>
                        <th class="text-right">Inv. Cost / Manuf. run</th>
                        <th class="text-right">Product Price / Run</th>
                    </thead>
                    <tbody>
                        <tr class="decryptor-0">
                            <th>None</th>
                            <td class="text-right chance right">{{ (invention_products[0].probability * 100) | floatcomma }}%</td>
                            <td class="text-right">{{ invention_products[0].quantity }}</td>
                            <td class="text-right">2%</td>
                            <td class="text-right">4%</td>
                            <td class="text-right invention-cost">0</td>
                            <td class="text-right invention-cost-per-product">0</td>
                            <td class="text-right total-cost">0</td>
                        </tr>
                        {% for decryptor in decryptors -%}
                        <tr class="decryptor-{{ decryptor.item_id }}">
                            <th>{{ decryptor.item.name }}</th>
                            <td class="text-right chance">{{ (invention_products[0].probability * 100 * decryptor.probability_multiplier ) | floatcomma }}%</td>
                            <td class="text-right">{{ invention_products[0].quantity + decryptor.run_modifier }}</td>
                            <td class="text-right">{{ decryptor.material_modifier + 2 }}%</td>
                            <td class="text-right">{{ decryptor.time_modifier + 4 }}%</td>
                            <td class="text-right invention-cost">0</td>
                            <td class="text-right invention-cost-per-product">0</td>
                            <td class="text-right total-cost">0</td>
                        </tr>
                        {% endfor %}
                </table>
            </div>

            <div class="fade tab-pane" role="tabpanel" id="details">
                <div class="row">
                    <div class="col-sm-6">
                        <table class="invention-data lb-table-sm">
                            <thead>
                                <th colspan="2">Activity Time</th>
                            </thead>
                            <tbody>
                                {% if activity_copy is not none %}
                                <tr>
                                    <td class="title">BPO Copy</td>
                                    <td class="data copy-time">{{ activity_copy.time | duration }}</td>
                                </tr>
                                {% endif %}
                                <tr>
                                    <td class="title">Invention</td>
                                    <td class="data invention-time">{{ activity_invention.time | duration }}</td>
                                </tr>
                            </tbody>
                        </table>


                        <table class="invention-data lb-table-sm mt-5">
                            <thead>
                                <th colspan="2">Outputs</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="title">Success Probability</td>
                                    <td class="data invention-probability">{{ (invention_products[0].probability * 100) | floatcomma }}%</td>
                                </tr>
                                <tr>
                                    <td class="title">Blueprint</td>
                                    <td class="data output">
                                    {% for inv_prod in invention_products -%}
                                    {% if config.USE_CCP_ICONS -%}
                                        <a href="{{ url_for('blueprint.manufacturing', item_id=inv_prod.product_id) }}" target="_blank" title="{{- inv_prod.product.name }}" data-toggle="tooltip" data-placement="top"><img src="{{ inv_prod.product.icon_32() }}" alt="{{ inv_prod.product.name }}"></a>
                                        {%- if (loop.index) % 6 == 0 %}<br>{% endif %}
                                    {%- else -%}
                                        {{- inv_prod.product.name }}<br>
                                    {%- endif %}
                                    {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="title">Stats (Runs / ME / TE)</td>
                                    <td class="data invention-stats"><span class="output-qty">{{ invention_products[0].quantity }}</span> / <span class="output-me">2</span>% / <span class="output-te">4</span>%</td>
                                </tr>
                            </tbody>
                        </table>


                        <table class="invention-data lb-table-sm mt-5">
                            <thead>
                                <th colspan="2">Invention Costs</th>
                            </thead>
                            <tbody>
                                {% if activity_copy is not none %}
                                <tr>
                                    <td class="title">BPO Copy</td>
                                    {% set copy_cost = (copy_base_cost * index_list[5] * 0.02 * 1.1) -%}
                                    <td class="data copy-cost">{{ copy_cost | floatcomma }}</td>
                                </tr>
                                {% else %}
                                {% set copy_cost = "0" %}
                                {% endif %}
                                <tr>
                                    <td class="title">Installation</td>
                                    {% set invention_cost = (invention_base_cost * index_list[8] * 0.02 * 1.1) -%}
                                    <td class="data invention-install-cost">{{ invention_cost | floatcomma }}</td>
                                </tr>
                                <tr>
                                    {% set invention_total_cost = (copy_cost | float) + (invention_cost | float) -%}
                                    <td class="title">Invention</td>
                                    <td class="data invention-total-cost">{{ invention_total_cost | floatcomma }}</td>
                                </tr>
                                <tr>
                                    <td class="title">Invention + Probability</td>
                                    <td class="data invention-total-cost-proba">{{ (invention_total_cost / invention_products[0].probability) | floatcomma }}</td>
                                </tr>
                                <tr>
                                    <td class="title">Invention + Probability / Manufacturing Run</td>
                                    <td class="data invention-total-cost-per-product">{{ ((invention_total_cost / invention_products[0].probability) / invention_products[0].quantity) | floatcomma }}</td>
                                </tr>
                                <tr>
                                    <td class="title">
                                        Output / Run
                                        <span class='small' data-toggle="tooltip" data-placement="top" title="Price based on sell orders in The Forge (this cost is an approximate value only to compare inventions!)">
                                            <i class="fa fa-exclamation-circle"></i>
                                        </span>
                                    </td>
                                    <td class="data output-cost">0</td>
                                </tr>
                                <tr>
                                    <td class="title">Output / Run with Invention</td>
                                    <td class="data output-cost-invention">0</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-6">
                        <table class="lb-list lb-table-sm">
                            <thead>
                                <tr>
                                    {% if config.USE_CCP_ICONS -%}<th>&nbsp;</th>{%- endif %}
                                    <th>Name</th>
                                    <th>Quantity</th>
                                    <th>Price Per Unit</th>
                                    <th>Total Price</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for inv_mat in invention_materials %}
                                <tr id="mat-{{ inv_mat.material_id }}">
                                    {% if config.USE_CCP_ICONS -%}<td class="icon"><img src="{{ inv_mat.material.icon_32() }}" alt="{{ inv_mat.material.name }}"></td>{%- endif %}
                                    <td>{{ inv_mat.material.name }}</td>
                                    <td class="quantity">{{ inv_mat.quantity }}</td>
                                    <td class="ppu price">0.00</td>
                                    <td class="total price">0.00</td>
                                </tr>
                                {% endfor %}
                                {% if blueprint.is_ancient_relic() %}
                                <tr id="mat-{{ blueprint.id }}">
                                    {% if config.USE_CCP_ICONS -%}<td class="icon"><img src="{{ blueprint.icon_32() }}" alt="{{ blueprint.name }}"></td>{%- endif %}
                                    <td class="name">{{ blueprint.name }}</td>
                                    <td class="quantity">1</td>
                                    <td class="ppu price">0.00</td>
                                    <td class="total price">0.00</td>
                                </tr>
                                {% endif %}
                                <tr id="mat-decryptor">
                                    {% if config.USE_CCP_ICONS -%}<td class="icon"><img src="{{ decryptors[0].item.icon_32() }}" alt="Decryptor"></td>{%- endif %}
                                    <td class="name">Decryptor</td>
                                    <td class="quantity">0</td>
                                    <td class="ppu price">0.00</td>
                                    <td class="total price">0.00</td>
                                </tr>
                            </tbody>

                            <tfoot>
                                <tr>
                                    {% if config.USE_CCP_ICONS -%}<td>&nbsp;</td>{%- endif %}
                                    <td colspan="3" class="title">Total Material Cost</td>
                                    <td class="invention-material-cost">0.00</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
