{% extends "base.html" %}

{% block title %}:: Manufacturing :: {{ blueprint.name }}{% endblock %}

{% block js %}
    <script>
        LazyBlacksmith.setLoader(LazyBlacksmith.blueprint.manufacturing);
        LazyBlacksmith.blueprint.manufacturing.systemUrls = "{{ url_for('ajax.solarsystems') }}";
        LazyBlacksmith.blueprint.manufacturing.materialBOM = "{{ url_for('ajax.blueprint_bom', blueprint_id=blueprint.id) }}";
        LazyBlacksmith.blueprint.manufacturing.tplSublistBlockUrl = "{{ url_for('template.manufacturing_sublist_block') }}";
        LazyBlacksmith.blueprint.manufacturing.tplSublistRowUrl = "{{ url_for('template.manufacturing_sublist_row') }}";
 
        LazyBlacksmith.blueprint.manufacturing.hasManufacturedComponent = {% if has_manufactured_components %}true{% else %}false{% endif %};
        LazyBlacksmith.blueprint.manufacturing.useIcons = {% if config.USE_CCP_ICONS %}true{% else %}false{% endif %};
    </script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs" role="tablist" id="bp-tabs">
            <li class="active"><a href="#tab-bp">Blueprint</a></li>
            {% if has_manufactured_components %}<li id='subcomp-tab'><a href="#tab-subcomp">Components Blueprints</a></li>{% endif %}
            <li id='summary-tab'><a href="#tab-summary">Material Summary</a></li>
            <li id='price-tab'><a href="#tab-price">Prices</a></li>
        </ul>
        <div class="tab-content">
            <div class="row fade in active tab-pane" id="tab-bp">
                <div class="col-md-2">
                    <div class="well">
                        <div>
                            Facility<br>
                            <select name="facility" id="facility" class="form-control input-sm">
                                <option value="0" selected>Station</option>
                                <option value="1">Assembly Array</option>
                                <option value="2">Thukker Component Array</option>
                                <option value="3">Rapid Assembly Array</option>
                            </select>
                        </div>
                        <div>
                            Facility Tax<br>
                            <input id="tax" type="text" class="form-control input-sm" value="0.00">
                        </div>
                        <div>
                            System<br>
                            <input id="system" type="text" class="form-control input-sm typeahead" value="Jita">
                        </div>
                    </div>
                    <div class="well">
                        <div>
                            Runs <br>
                            <input id="runs" type="text" class="form-control input-sm" value="1">
                        </div>
                        <div>
                            ME Level (<span id="ME-Level">0%</span>)<br>
                            <div id="ME"></div>
                        </div>
                        <div>
                            TE Level (<span id="TE-Level">0%</span>)<br>
                            <div id="TE"></div>
                        </div>
                    </div>                    
                    <div class="well">
                        <div>
                            Industry (<span id="industry-level-display">0</span>)<br>
                            <div id="industry-level"></div>
                        </div>
                        <div>
                            Adv. Industry (<span id="adv-industry-level-display">0</span>)<br>
                            <div id="adv-industry-level"></div>
                        </div>
                    </div>                    
                    <div class="well">
                        <div>
                            T2 Science 1 
                            <span class='small' data-toggle="tooltip" data-placement="top" title="First science skill required (example: Laser Engineering, Molecular Engineering, Mechanical Engineering...)">
                                <i class="fa fa-question-circle"></i> 
                            </span> 
                            (<span id="t2-science1-display">0</span>)<br>
                            <div id="t2-science1"></div>
                        </div>
                        <div>
                            T2 Science 2 
                            <span class='small' data-toggle="tooltip" data-placement="top" title="Second science skill required (example: Laser Engineering, Molecular Engineering, Mechanical Engineering...)">
                                <i class="fa fa-question-circle"></i>
                            </span> 
                            (<span id="t2-science2-display">0</span>)<br>
                            <div id="t2-science2"></div>
                        </div>
                        <div>
                            T2 Industry 
                            <span class='small' data-toggle="tooltip" data-placement="top" title="T2 Ship Manufacturing Skill (example: Frigate Construction, Cruiser Construction...)">
                                <i class="fa fa-question-circle"></i>
                            </span> 
                            (<span id="t2-level-display">0</span>)<br>
                            <div id="t2-level"></div>
                        </div>
                    </div>

                </div>
                <div class="col-md-10 main-list">
                    <div class="row">
                        <div class="col-xs-10">
                            <h4>
                                {{ blueprint.name }} 
                                <span class="small">
                                    (<span id='main-product' data-id="{{ product.product.id }}" data-icon="{{ product.product.icon_32() }}">{{ product.product.name }}</span> x <span id="qty-required-{{ product.product.id }}" data-qty="{{ product.quantity }}">{{ product.quantity|intcomma }})</span> -  
                                    <strong>Time per run: </strong><span data-time="{{ activity.time }}" class="time-per-run" data-id="{{ blueprint.id }}">{{ activity.time|duration }}</span> - 
                                    <strong>Total time: </strong><span class="total-time" data-id="{{ product.product.id }}" data-name="{{ product.product.name }}">{{ activity.time|duration }}</span>
                                </span>
                            </h4>
                        </div>
                        <div class="col-xs-2 text-right">
                            {% if config.USE_CCP_ICONS -%}
                                <img src="{{ blueprint.icon_32() }}" alt="{{ blueprint.name }}">
                            {%- endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-condensed materials-list table-hover table-striped">
                                <tr>
                                    {% if config.USE_CCP_ICONS -%}<th>&nbsp;</th>{%- endif %}
                                    <th>Name</th>
                                    <th>Base Qty</th>
                                    <th>Adjusted Qty</th>
                                    <th>Job Qty</th>
                                </tr>
                            {% for material in materials.all() %}
                                <tr class="material" data-id="{{material.material.id}}" {% if material.material.is_manufactured() %}data-is-manufactured="true" {% endif %}data-qty="{{ material.quantity }}" data-qty-job="{{ material.quantity }}" data-qty-adj="{{ material.quantity }}" data-name="{{ material.material.name }}">

                                    {% if config.USE_CCP_ICONS -%}
                                    <td class="icon">
                                        <img src="{{ material.material.icon_32() }}" alt="{{ material.material.name }}">
                                    </td>
                                    {%- endif %}
                                    <td>
                                        {{- material.material.name -}}
                                    </td>
                                    <td class="quantity" data-name="quantity">
                                        {{- material.quantity|intcomma -}}
                                    </td>
                                    <td class="quantity" data-name="quantity-adjusted">{{ material.quantity|intcomma }}</td>
                                    <td class="quantity" data-name="quantity-job">{{ material.quantity|intcomma }}</td>
                                </tr>
                            {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
            {% if has_manufactured_components %}
            <div class="row fade tab-pane" id="tab-subcomp">
                <div class="col-md-12">
                    <strong>Loading materials... please wait a second</strong>
                </div>
            </div>
            {% endif %} 
            
            <div class="row fade tab-pane" id="tab-summary">
                <div class="col-md-6">
                    <h4>
                        Material requirements 
                        {% if has_manufactured_components %}
                            <input type="checkbox" id="display-sub-components-summary"/>
                        {% endif %}
                    </h4>
                    <table class="table table-condensed materials-requirement table-hover table-striped">
                        <thead>
                            <tr>
                                {% if config.USE_CCP_ICONS -%}<th>&nbsp;</th>{%- endif %}
                                <th>Name</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>

                <div class="col-md-6">
                    <h4>
                        Production times
                    </h4>
                    <table class="table table-condensed materials-time table-hover table-striped">
                        <thead>
                            <tr>
                                {% if config.USE_CCP_ICONS -%}<th>&nbsp;</th>{%- endif %}
                                <th>Name</th>
                                <th>Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                    </table>
                </div>
            </div>
            
            <div class="row fade tab-pane" id="tab-price">
                <div class="col-md-6">
                    <h4>
                        Material Prices                     
                        <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#priceConfigModal">
                            <i class="fa fa-cog"></i>
                        </button>                 

                        {% if has_manufactured_components %}
                            <strong><input type="checkbox" id="display-sub-components-price"/></strong>
                        {% endif %}
                    </h4>
                    <table class="table table-condensed materials-prices table-hover table-striped">
                        <thead>
                            <tr>
                                {% if config.USE_CCP_ICONS -%}<th>&nbsp;</th>{%- endif %}
                                <th>Name</th>
                                <th>Quantity</th>
                                <th>Price Per Unit</th>
                                <th>Total Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>

                <div class="col-md-6">
                    <h4>
                        Industry Taxes 
                        <span class='small' data-toggle="tooltip" data-placement="top" title="Industry taxes may be wrong, as they will take the highest prices possible. Never forget to double check !">
                                <i class="fa fa-exclamation-circle"></i>
                        </span> 
                    </h4>
                    <table class="table table-condensed materials-taxes table-hover table-striped">
                        <thead>
                            <tr>
                                {% if config.USE_CCP_ICONS -%}<th>&nbsp;</th>{%- endif %}
                                <th>Name</th>
                                <th>Quantity</th>
                                <th>Tax Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block modal %}
<!-- Prices config modals --> 
<div class="modal fade" role="dialog" id="priceConfigModal" aria-labelledby="priceConfigModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="priceConfigModal">Configure Prices</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="well">
                                <div>
                                    Region<br>
                                    <select name="modal-region" id="modal-region" class="form-control input-sm">
                                        {% for region in regions %}
                                        <option {% if region.id == 10000002 %}selected {% endif %}value="{{ region.id }}">{{ region.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div>
                                    Use Buy/Sell orders<br>
                                    <select name="modal-order" id="modal-order" class="form-control input-sm">
                                        <option value="buy">Buy Orders</option>
                                        <option value="sell">Sell Orders</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="modal-apply" data-dismiss="modal" class="btn btn-primary">Apply</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Sub component config modals --> 
<div class="modal fade" role="dialog" id="subComponentBpConfigModal" aria-labelledby="subComponentBpConfigModal" aria-hidden="true" data-bp-id="">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="subComponentBpConfigModal">Configure Blueprint <span id="componentModalBpName"></span></h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="well">
                                <div>
                                    Facility<br>
                                    <select name="modal-facility" id="modal-facility" class="form-control input-sm">
                                        <option value="0">Station</option>
                                        <option value="1">Assembly Array</option>
                                        <option value="2">Thukker Component Array</option>
                                        <option value="3">Rapid Assembly Array</option>
                                    </select>
                                </div>
                                <div>
                                    Facility Tax<br>
                                    <input id="modal-tax" type="text" class="form-control input-sm" value="0.00">
                                </div>
                                <div>
                                    System<br>
                                    <input id="modal-system" type="text" class="form-control input-sm typeahead" value="Jita">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="well">
                                <div>
                                    ME Level (<span id="Modal-ME-Level">0</span>%)<br>
                                    <div id="ModalME"></div>
                                </div>
                                <div>
                                    TE Level (<span id="Modal-TE-Level">0</span>%)<br>
                                    <div id="ModalTE"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="modal-apply" data-dismiss="modal" class="btn btn-primary">Apply</button>
                <button type="button" id="modal-apply-all" data-dismiss="modal" class="btn btn-success">Apply to all blueprints</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}