{% extends "base.html" %}

{% block title %}:: Manufacturing :: {{ blueprint.name }}{% endblock %}

{% block js %}
    <script>
        lb.urls.materialBOMUrl      = "{{ url_for('ajax_eve_sde.blueprint_bom', blueprint_id=blueprint.id) }}";
        lb.urls.tplSublistBlockUrl  = "{{ url_for('template.manufacturing_sublist_block') }}";
        lb.urls.tplSublistRowUrl    = "{{ url_for('template.manufacturing_sublist_row') }}";
        lb.urls.tplModalPriceUrl    = "{{ url_for('template.manufacturing_modal_price') }}";

        manufacturingBlueprint.options.hasManufacturedComponent = {% if has_manufactured_components %}true{% else %}false{% endif %};
        manufacturingBlueprint.options.useIcons = {% if config.USE_CCP_ICONS %}true{% else %}false{% endif %};
        manufacturingBlueprint.materialsData.productItemId = {{ product.product.id }};

        manufacturingBlueprint.materialsData.materials[{{ product.product.id }}] = {
            'id': {{ product.product.id }},
            'isManufactured': true,
            'resultQtyPerRun': {{ product.quantity }},
            'qtyRequiredPerRun': {{ product.quantity }},
            'qtyAdjusted': {{ product.quantity }},
            'qtyJob': {{ product.quantity }},
            'timePerRun': {{ activity.time }},
            'timeTotal': {{ activity.time }},
            'name': '{{ product.product.name }}',
            'icon': '{{ product.product.icon_32() }}',
            'manufacturingSystem': 'Jita',
            'facility': 0,
            'structureTeRig': 0,
            'structureMeRig': 0,
            'structureSecStatus': 'h',
        };

        {% for material in materials.all() %}
        manufacturingBlueprint.materialsData.componentIdList.push({{ material.material.id }});
        manufacturingBlueprint.materialsData.materials[{{ material.material.id }}] = {
            'id': {{ material.material.id }},
            'isManufactured': {% if material.material.is_manufactured() %}true{% else %}false{% endif %},
            'resultQtyPerRun': -1,
            'qtyRequiredPerRun': {{ material.quantity }},
            'qtyAdjusted': {{ material.quantity }},
            'qtyJob': {{ material.quantity }},
            'timePerRun': 0,
            'timeTotal': 0,
            'runs': -1,
            'name': '{{ material.material.name }}',
            'icon': '{{ material.material.icon_32() }}',
            'materials': {},
            'componentIdList': [],
            'materialEfficiency': 10,
            'timeEfficiency': 20,
            'manufacturingSystem': 'Jita',
            'facility': 0,
            'structureTeRig': 0,
            'structureMeRig': 0,
            'structureSecStatus': 'h',
        };
        {% endfor %}

        lb.run('manufacturingBlueprint');
    </script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs" role="tablist" id="bp-tabs">
            <li class="active"><a href="#tab-bp">Blueprint</a></li>
            {% if has_manufactured_components %}<li id='subcomp-tab'><a href="#tab-subcomp">Components Blueprints</a></li>{% endif %}
            <li id='summary-tab'><a href="#tab-summary">Material Summary</a></li>
            <li id='price-tab'><a href="#tab-price">Prices</a></li>
        </ul>
        <div class="tab-content">
            <div class="row fade in active tab-pane" id="tab-bp">
                <div class="col-md-3 col-sm-4">
                    <div class="well">
                        <div>
                            Facility<br>
                            <select name="facility" id="facility" class="form-control input-sm">
                                <option value="0" selected>Station</option>
                                <option value="1">Assembly Array</option>
                                <option value="2">Thukker Component Array</option>
                                <option value="3">Rapid Assembly Array</option>
                                <option value="4">Raitaru (M-EC)</option>
                                <option value="5">Azbel (L-EC)</option>
                                <option value="6">Sotiyo (XL-EC)</option>
                                <option value="7">Other Structures</option>
                            </select>
                        </div>
                        <div class="structure-configs" style="display: none; margin-top:5px">
                            Rigs <br>
                            <div class="btn-group" id="structure-me-rig" data-toggle="buttons" style="width:100%">
                                <label class="btn btn-sm btn-default col-xs-4 active">
                                    <input type="radio" name="structure-me-rig" autocomplete="off" value="0" checked>No ME
                                </label>
                                <label class="btn btn-sm btn-default col-xs-4">
                                    <input type="radio" name="structure-me-rig" autocomplete="off" value="1">T1 ME
                                </label>
                                <label class="btn btn-sm btn-default col-xs-4">
                                    <input type="radio" name="structure-me-rig" autocomplete="off" value="2">T2 ME
                                </label>
                            </div>
                            <div class="btn-group" id="structure-te-rig" data-toggle="buttons" style="width:100%">
                                <label class="btn btn-sm btn-default col-xs-4 active">
                                    <input type="radio" name="structure-te-rig" autocomplete="off" value="0" checked>No TE
                                </label>
                                <label class="btn btn-sm btn-default col-xs-4">
                                    <input type="radio" name="structure-te-rig" autocomplete="off" value="1">T1 TE
                                </label>
                                <label class="btn btn-sm btn-default col-xs-4">
                                    <input type="radio" name="structure-te-rig" autocomplete="off" value="2">T2 TE
                                </label>
                            </div>
                            System Security<br>
                            <div class="btn-group" id="structure-sec-status" data-toggle="buttons" style="width:100%">
                                <label class="btn btn-sm btn-default active col-xs-4">
                                    <input type="radio" name="structure-sec-status" autocomplete="off" value="h" checked>HS
                                </label>
                                <label class="btn btn-sm btn-default col-xs-4">
                                    <input type="radio" name="structure-sec-status" autocomplete="off" value="l">LS
                                </label>
                                <label class="btn btn-sm btn-default col-xs-4">
                                    <input type="radio" name="structure-sec-status" autocomplete="off" value="n">NS/WH
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="well">
                        <div>
                            System<br>
                            <input id="system" type="text" class="form-control input-sm typeahead" value="Jita">
                        </div>
                    </div>
                    <div class="well">
                        <div>
                            Runs <br>
                            <input id="runs" type="text" class="form-control input-sm" value="1">
                        </div>
                        <div class="slider">
                            ME Level (<span id="ME-Level">0%</span>)<br>
                            <div id="ME"></div>
                        </div>
                        <div class="slider">
                            TE Level (<span id="TE-Level">0%</span>)<br>
                            <div id="TE"></div>
                        </div>
                    </div>
                    <div class="well">
                        <div class="slider">
                            Industry (<span id="industry-level-display">0</span>)<br>
                            <div id="industry-level"></div>
                        </div>
                        <div class="slider">
                            Adv. Industry (<span id="adv-industry-level-display">0</span>)<br>
                            <div id="adv-industry-level"></div>
                        </div>
                    </div>

                    {% if science_skill | length > 0 or t2_manufacturing_skill is not none %}
                    <div class="well">
                        {% if science_skill | length > 0 %}
                        <div class="slider">
                            {{ science_skill[0] or "T2 Science 1" }}
                            (<span id="t2-science1-display">0</span>)<br>
                            <div id="t2-science1"></div>
                        </div>
                        <div class="slider">
                            {{ science_skill[1] or "T2 Science 2" }}
                            (<span id="t2-science2-display">0</span>)<br>
                            <div id="t2-science2"></div>
                        </div>
                        {% endif %}
                        {% if t2_manufacturing_skill is not none %}
                        <div class="slider">
                            {{ t2_manufacturing_skill or "T2 Industry" }}
                            (<span id="t2-level-display">0</span>)<br>
                            <div id="t2-level"></div>
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}

                </div>
                <div class="col-md-9 col-sm-8 main-list">
                    <div class="row">
                        <div class="col-xs-10">
                            <h4>
                                {{ blueprint.name }}
                                <span class="small">
                                    ({{ product.product.name }} x
                                    <span id="qty-required-{{ product.product.id }}">{{ product.quantity|intcomma }}</span>) -
                                    <strong>Time per run: </strong><span class="time-per-run">{{ activity.time|duration }}</span> -
                                    <strong>Total time: </strong><span class="total-time">{{ activity.time|duration }}</span>
                                </span>
                            </h4>
                        </div>
                        <div class="col-xs-2 text-right">
                            {% if config.USE_CCP_ICONS -%}
                                <img src="{{ blueprint.icon_32() }}" alt="{{ blueprint.name }}">
                            {%- endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-condensed materials-list table-hover table-striped">
                                <tr>
                                    {% if config.USE_CCP_ICONS -%}<th>&nbsp;</th>{%- endif %}
                                    <th>Name</th>
                                    <th>Base Qty</th>
                                    <th>Adjusted Qty</th>
                                    <th>Job Qty</th>
                                </tr>
                            {% for material in materials.all() %}
                                <tr class="material" data-id="{{material.material.id}}">
                                    {% if config.USE_CCP_ICONS -%}
                                    <td class="icon">
                                        <img src="{{ material.material.icon_32() }}" alt="{{ material.material.name }}">
                                    </td>
                                    {%- endif %}
                                    <td>
                                        {{- material.material.name -}}
                                    </td>
                                    <td class="quantity" data-name="quantity">
                                        {{- material.quantity|intcomma -}}
                                    </td>
                                    <td class="quantity" data-name="quantity-adjusted">{{ material.quantity|intcomma }}</td>
                                    <td class="quantity" data-name="quantity-job">{{ material.quantity|intcomma }}</td>
                                </tr>
                            {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            {% if has_manufactured_components %}
            <div class="row fade tab-pane" id="tab-subcomp">
                <div class="col-md-12">
                    <strong>Loading materials... please wait a second</strong>
                </div>
            </div>
            {% endif %}

            <div class="row fade tab-pane" id="tab-summary">
                <div class="col-md-6">
                    <h4>
                        Material requirements

                        {% if has_manufactured_components %}
                        <span class="raw-component-btn">
                            <span id="raw-components" data-toggle="buttons">
                                <label class="btn btn-danger btn-xs">
                                    <input type="checkbox" autocomplete="off">
                                    Raw components: <span class="state">NO</span>
                                </label>
                            </span>
                        </span>
                        {% endif %}
                    </h4>
                    <table class="table table-condensed materials-requirement table-hover table-striped">
                        <thead>
                            <tr>
                                {% if config.USE_CCP_ICONS -%}<th>&nbsp;</th>{%- endif %}
                                <th>Name</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>

                <div class="col-md-6">
                    <h4>
                        Production times
                    </h4>
                    <table class="table table-condensed materials-time table-hover table-striped">
                        <thead>
                            <tr>
                                {% if config.USE_CCP_ICONS -%}<th>&nbsp;</th>{%- endif %}
                                <th>Name</th>
                                <th>Time</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                    </table>
                </div>
            </div>

            <div class="row fade tab-pane" id="tab-price">
                <div class="col-md-6">
                    <h4>
                        Material Prices
                        <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#priceConfigModal">
                            <i class="fa fa-cog"></i>
                        </button>
                        <span class="raw-component-btn"></span>
                    </h4>
                    <table class="table table-condensed materials-prices table-hover table-striped">
                        <thead>
                            <tr>
                                {% if config.USE_CCP_ICONS -%}<th>&nbsp;</th>{%- endif %}
                                <th>Name</th>
                                <th>Quantity</th>
                                <th>Price Per Unit</th>
                                <th>Total Price</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                        <tfoot>
                            <tr>
                                {% if config.USE_CCP_ICONS -%}<td>&nbsp;</td>{%- endif %}
                                <td colspan="3" class="title">Materials Total Cost</td>
                                <td id="mat-total-price"></td>
                            </tr>
                            <tr>
                                {% if config.USE_CCP_ICONS -%}<td>&nbsp;</td>{%- endif %}
                                <td colspan="3" class="title">Installation Cost</td>
                                <td id="installation-cost"></td>
                            </tr>
                            <tr>
                                {% if config.USE_CCP_ICONS -%}<td>&nbsp;</td>{%- endif %}
                                <td colspan="3" class="title">Unit Cost</td>
                                <td id="total-cost-per-unit"></td>
                            </tr>
                            <tr>
                                {% if config.USE_CCP_ICONS -%}<td>&nbsp;</td>{%- endif %}
                                <td colspan="3" class="title">{{ product.product.name }} Sell Value</td>
                                <td id="product-price"></td>
                            </tr>
                            <tr>
                                {% if config.USE_CCP_ICONS -%}<td>&nbsp;</td>{%- endif %}
                                <td colspan="3" class="title">Margin</td>
                                <td id="margin"></td>
                            </tr>
                            <tr>
                                {% if config.USE_CCP_ICONS -%}<td>&nbsp;</td>{%- endif %}
                                <td colspan="3" class="title">% Margin</td>
                                <td id="margin-percent"></td>
                            </tr>
                            <tr>
                                {% if config.USE_CCP_ICONS -%}<td>&nbsp;</td>{%- endif %}
                                <td colspan="3" class="title">% Markup</td>
                                <td id="markup-percent"></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

                <div class="col-md-6">
                    <h4>
                        Industry Taxes
                        <span class='small' data-toggle="tooltip" data-placement="top" title="Industry taxes may be wrong, as they will take the highest prices possible. Never forget to double check !">
                                <i class="fa fa-exclamation-circle"></i>
                        </span>
                    </h4>
                    <table class="table table-condensed materials-taxes table-hover table-striped">
                        <thead>
                            <tr>
                                {% if config.USE_CCP_ICONS -%}<th>&nbsp;</th>{%- endif %}
                                <th>Name</th>
                                <th>Quantity</th>
                                <th>Tax Price</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block modal %}
<!-- Prices config modals -->
<div class="modal fade" role="dialog" id="priceConfigModal" aria-labelledby="priceConfigModal" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Configure Prices</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="input-group">
                            <select name="modal-region-all" id="modal-region-all" class="form-control input-sm">
                                <option disabled selected>Select a region</option>
                                {% for region in regions %}
                                <option value="{{ region.id }}">{{ region.name }}</option>
                                {% endfor %}
                            </select>
                            <span class="input-group-btn">
                                <button class="btn btn-sm btn-primary" id="modal-region-apply-all" type="button">Apply to selected</button>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="input-group">
                            <select name="modal-order-all" id="modal-order-all" class="form-control input-sm">
                                <option value="buy" selected>Use buy orders</option>
                                <option value="sell">Use sell orders</option>
                            </select>
                            <span class="input-group-btn">
                                <button class="btn btn-sm btn-primary" id="modal-order-type-apply-all" type="button">Apply to selected</button>
                            </span>
                        </div>
                    </div>
                </div>
                <br/>
                <div>
                    <table class="table-condensed table table-hover table-striped modal-config-price">
                        <thead>
                            <tr>
                                {% if config.USE_CCP_ICONS -%}<th class="icon">&nbsp;</th>{%- endif %}
                                <th>Name</th>
                                <th style="width:25%">Price region</th>
                                <th style="width:95px">Order type</th>
                                <th class="checkbox-cell"><input type="checkbox" id="modal-price-checkall"/></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Sub component config modals -->
<div class="modal fade" role="dialog" id="subComponentBpConfigModal" aria-labelledby="subComponentBpConfigModal" aria-hidden="true" data-bp-id="">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="subComponentBpConfigModal">Configure Blueprint <span id="componentModalBpName"></span></h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="well">
                                <div>
                                    Facility<br>
                                    <select name="modal-facility" id="modal-facility" class="form-control input-sm">
                                        <option value="0">Station</option>
                                        <option value="1">Assembly Array</option>
                                        <option value="2">Thukker Component Array</option>
                                        <option value="3">Rapid Assembly Array</option>
                                        <option value="4">Raitaru (M-EC)</option>
                                        <option value="5">Azbel (L-EC)</option>
                                        <option value="6">Sotiyo (XL-EC)</option>
                                        <option value="7">Other Structures</option>
                                    </select>
                                </div>

                                <div class="modal-structure-configs" style="display: none; margin-top:5px">
                                    Rigs <br>
                                    <div class="btn-group" id="modal-structure-me-rig" data-toggle="buttons" style="width:100%">
                                        <label class="btn btn-sm btn-default col-xs-4 active">
                                            <input type="radio" name="modal-structure-me-rig" autocomplete="off" value="0" checked>No ME
                                        </label>
                                        <label class="btn btn-sm btn-default col-xs-4">
                                            <input type="radio" name="modal-structure-me-rig" autocomplete="off" value="1">T1 ME
                                        </label>
                                        <label class="btn btn-sm btn-default col-xs-4">
                                            <input type="radio" name="modal-structure-me-rig" autocomplete="off" value="2">T2 ME
                                        </label>
                                    </div>
                                    <div class="btn-group" id="modal-structure-te-rig" data-toggle="buttons" style="width:100%">
                                        <label class="btn btn-sm btn-default col-xs-4 active">
                                            <input type="radio" name="modal-structure-te-rig" autocomplete="off" value="0" checked>No TE
                                        </label>
                                        <label class="btn btn-sm btn-default col-xs-4">
                                            <input type="radio" name="modal-structure-te-rig" autocomplete="off" value="1">T1 TE
                                        </label>
                                        <label class="btn btn-sm btn-default col-xs-4">
                                            <input type="radio" name="modal-structure-te-rig" autocomplete="off" value="2">T2 TE
                                        </label>
                                    </div>
                                    System Security<br>
                                    <div class="btn-group" id="modal-structure-sec-status" data-toggle="buttons" style="width:100%">
                                        <label class="btn btn-sm btn-default active col-xs-4">
                                            <input type="radio" name="modal-structure-sec-status" autocomplete="off" value="h" checked>HS
                                        </label>
                                        <label class="btn btn-sm btn-default col-xs-4">
                                            <input type="radio" name="modal-structure-sec-status" autocomplete="off" value="l">LS
                                        </label>
                                        <label class="btn btn-sm btn-default col-xs-4">
                                            <input type="radio" name="modal-structure-sec-status" autocomplete="off" value="n">NS/WH
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="well">
                                <div>
                                    System<br>
                                    <input id="modal-system" type="text" class="form-control input-sm typeahead" value="Jita">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="well">
                                <div>
                                    ME Level (<span id="Modal-ME-Level">0</span>%)<br>
                                    <div id="ModalME"></div>
                                </div>
                                <div>
                                    TE Level (<span id="Modal-TE-Level">0</span>%)<br>
                                    <div id="ModalTE"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="modal-apply" data-dismiss="modal" class="btn btn-primary">Apply</button>
                <button type="button" id="modal-apply-all" data-dismiss="modal" class="btn btn-success">Apply to all blueprints</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
