{% extends "base.html" %}

{% block title %}:: Copy/Research :: {{ blueprint.name }}{% endblock %}

{% block js %}
    <script>
        researchBlueprint.options.baseCost = {{ base_cost }};
        researchBlueprint.options.baseCopyTime = {{ activity_copy.time }};
        researchBlueprint.options.baseMeTime = {{ activity_material.time }};
        researchBlueprint.options.baseTeTime = {{ activity_time.time }};
        researchBlueprint.options.maxRunPerCopy = {{ blueprint.max_production_limit }};

        researchBlueprint.options.indexes["Jita"] = {};
        {% for activity, index in index_list.iteritems() -%}
        researchBlueprint.options.indexes["Jita"][{{ activity }}] = {{ index }};
        {% endfor %}

        lb.run('researchBlueprint');
    </script>
{% endblock %}



{% block content %}
<div class="row">
    <div class="col-md-3 col-sm-4">
        <div class="well">
            <div>
                Facility<br>
                <select name="facility" id="facility" class="form-control input-sm">
                    <option value="0" selected>Station</option>
                    <option value="1">Raitaru (M-EC)</option>
                    <option value="2">Azbel (L-EC)</option>
                    <option value="3">Sotiyo (XL-EC)</option>
                    <option value="4">Other Structures</option>
                    <option value="8">Laboratory</option>
                    <option value="9">Hyasyoda Laboratory</option>
                </select>
            </div>
            <div class="structure-configs" style="display: none; margin-top:5px">
                Time Reduction Rigs <br>
                <div class="btn-group" id="structure-me-rig" data-toggle="buttons" style="width:100%">
                    <label class="btn btn-sm btn-default col-xs-4 active">
                        <input type="radio" name="structure-me-rig" autocomplete="off" value="0" checked>No ME
                    </label>
                    <label class="btn btn-sm btn-default col-xs-4">
                        <input type="radio" name="structure-me-rig" autocomplete="off" value="1">T1 ME
                    </label>
                    <label class="btn btn-sm btn-default col-xs-4">
                        <input type="radio" name="structure-me-rig" autocomplete="off" value="2">T2 ME
                    </label>
                </div>
                <div class="btn-group" id="structure-te-rig" data-toggle="buttons" style="width:100%">
                    <label class="btn btn-sm btn-default col-xs-4 active">
                        <input type="radio" name="structure-te-rig" autocomplete="off" value="0" checked>No TE
                    </label>
                    <label class="btn btn-sm btn-default col-xs-4">
                        <input type="radio" name="structure-te-rig" autocomplete="off" value="1">T1 TE
                    </label>
                    <label class="btn btn-sm btn-default col-xs-4">
                        <input type="radio" name="structure-te-rig" autocomplete="off" value="2">T2 TE
                    </label>
                </div>
                Copy Time Rigs <br>
                <div class="btn-group" id="structure-copy-rig" data-toggle="buttons" style="width:100%">
                    <label class="btn btn-sm btn-default col-xs-4 active">
                        <input type="radio" name="structure-copy-rig" autocomplete="off" value="0" checked>None
                    </label>
                    <label class="btn btn-sm btn-default col-xs-4">
                        <input type="radio" name="structure-copy-rig" autocomplete="off" value="1">T1
                    </label>
                    <label class="btn btn-sm btn-default col-xs-4">
                        <input type="radio" name="structure-copy-rig" autocomplete="off" value="2">T2
                    </label>
                </div>
                System Security<br>
                <div class="btn-group" id="structure-sec-status" data-toggle="buttons" style="width:100%">
                    <label class="btn btn-sm btn-default active col-xs-4">
                        <input type="radio" name="structure-sec-status" autocomplete="off" value="h" checked>HS
                    </label>
                    <label class="btn btn-sm btn-default col-xs-4">
                        <input type="radio" name="structure-sec-status" autocomplete="off" value="l">LS
                    </label>
                    <label class="btn btn-sm btn-default col-xs-4">
                        <input type="radio" name="structure-sec-status" autocomplete="off" value="n">NS/WH
                    </label>
                </div>
            </div>
        </div>
        <div class="well">
            <div>
                System<br>
                <input id="system" type="text" class="form-control input-sm typeahead" value="Jita">
            </div>
        </div>
        <div class="well">
            <div class="slider">
                Current ME Level (<span id="ME-Level">0%</span>)<br>
                <div id="ME"></div>
            </div>
            <div class="slider">
                Current TE Level (<span id="TE-Level">0%</span>)<br>
                <div id="TE"></div>
            </div>
        </div>
        <div class="well">
            <div>
                Number of copy<br>
                <input id="copy-number" type="text" class="form-control input-sm" value="1">
            </div>
            <div>
                Runs/copy (max: {{ blueprint.max_production_limit }})<br>
                <input id="run-per-copy" type="text" class="form-control input-sm" value="1">
            </div>
        </div>
        <div class="well">
            <div>
                ME Implant<br>
                <select name="meImplant" id="meImplant" class="form-control input-sm">
                    <option value="1.00" selected>None</option>
                    <option value="0.99">MY-701</option>
                    <option value="0.97">MY-703</option>
                    <option value="0.95">MY-705</option>
                </select>
            </div>
            <div>
                TE Implant<br>
                <select name="teImplant" id="teImplant" class="form-control input-sm">
                    <option value="1.00" selected>None</option>
                    <option value="0.99">RR-601</option>
                    <option value="0.97">RR-603</option>
                    <option value="0.95">RR-605</option>
                </select>
            </div>
            <div>
                Copy Implant<br>
                <select name="copyImplant" id="copyImplant" class="form-control input-sm">
                    <option value="1.00" selected>None</option>
                    <option value="0.99">SC-801</option>
                    <option value="0.97">SC-803</option>
                    <option value="0.95">SC-805</option>
                </select>
            </div>
        </div>
        <div class="well">
            <div class="slider">
                Adv. Industry (<span id="adv-industry-level-display">0</span>)<br>
                <div id="adv-industry-level"></div>
            </div>
            <div class="slider">
                Research (<span id="research-level-display">0</span>)<br>
                <div id="research-level"></div>
            </div>
            <div class="slider">
                Science (<span id="science-level-display">0</span>)<br>
                <div id="science-level"></div>
            </div>
            <div class="slider">
                Metallurgy (<span id="metallurgy-level-display">0</span>)<br>
                <div id="metallurgy-level"></div>
            </div>
        </div>
    </div>

    <div class="col-md-9 col-sm-8">
        <div class="row">
            <div class="col-xs-10">
                <h4 id="item-name">{{ blueprint.name }}</h4>
            </div>
            <div class="col-xs-2 text-right" id="item-icon">
                {% if config.USE_CCP_ICONS -%}
                <img src="{{ blueprint.icon_32() }}" alt="{{ blueprint.name }}"/>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs" id="tab-links" role="tablist">
                    <li class="active"><a href="#me-tab">Material Efficiency</a></li>
                    <li><a href="#me-eff-tab">Cost / ME</a></li>
                    <li><a href="#te-tab">Time Efficiency</a></li>
                    <li><a href="#copy-tab">Copy</a></li>
                </ul>
                <div class="tab-content">

                    <!-- ME Tab -->
                    <div class="fade in active tab-pane" id="me-tab">
                        <table class="me-list table table-condensed table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Level</th>
                                    <th>Time</th>
                                    <th>Time from current level</th>
                                    <th>Installation Cost</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for level in range(1,11) -%}
                                {% set level_modifier = (250 * 2**(1.25 * level - 2.5) / 105)%}
                                {% set research_duration = activity_material.time * level_modifier %}
                                {% set research_cost = "%0.2f" % (base_cost * index_list[4] * 0.02 * level_modifier * 1.1) %}
                                <tr id="ME-{{ level }}">
                                    <td class="level">{{ level }}</td>
                                    <td class="total">{{ research_duration | duration }}</td>
                                    <td class="delta">{{ research_duration | duration }}</td>
                                    <td class="price">{{ research_cost | float | intcomma }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <!-- ME Tab -->
                    <div class="fade tab-pane" id="me-eff-tab">
                        <table class="me-profit table table-condensed table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Level</th>
                                    <th>
                                        Build Cost
                                        <span class='small' data-toggle="tooltip" data-placement="top" title="Based on The Forge prices. Values may be inaccurate but the only goal is to provide a comparison between build costs for each ME level, when built in station.">
                                            <i class="fa fa-exclamation-circle"></i>
                                        </span>
                                    </th>
                                    <th colspan="2">Profit / ME 0%</th>
                                    <th colspan="2">Profit / Previous ME</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% set run_delta = cost_per_me[0]['job_price_run'] -%}
                                {% for level in range(0,11) -%}
                                <tr id="ME-profit-{{ level }}">
                                    {% set delta_run = cost_per_me[0]['job_price_run'] - cost_per_me[level]['job_price_run'] -%}
                                    {% set delta_me = run_delta - cost_per_me[level]['job_price_run'] -%}
                                    {% set delta_run_pc = "%0.3f" % (delta_run / cost_per_me[0]['job_price_run'] * 100) -%}
                                    {% set delta_me_pc = "%0.3f" % (delta_me / run_delta * 100) -%}
                                    <td class="level">{{ level }}</td>
                                    <td>{{ cost_per_me[level]['job_price_run'] | intcomma }}</td>
                                    <td class="delta">{{ delta_run | intcomma }}</td>
                                    <td class="price-percent">{{ delta_run_pc | float | intcomma }}%</td>
                                    <td class="delta">{{ delta_me | intcomma }}</td>
                                    <td class="price-percent">{{ delta_me_pc | float | intcomma }}%</td>
                                </tr>
                                {% set run_delta = cost_per_me[level]['job_price_run'] -%}
                                {% endfor %}
                            </tbody>
                        </table>

                        <table class="me-profit table table-condensed table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Level</th>
                                    <th>
                                        Build Cost (max BPC run)
                                        <span class='small' data-toggle="tooltip" data-placement="top" title="Same as build cost, but using max run to test adjusted quantities.">
                                            <i class="fa fa-exclamation-circle"></i>
                                        </span>
                                    </th>
                                    <th colspan="2">
                                        Profit / ME 0% (max BPC run)
                                        <span class='small' data-toggle="tooltip" data-placement="top" title="This value takes adjusted quantities when building more than one item, as the game only round quantities after taking run into account.">
                                            <i class="fa fa-exclamation-circle"></i>
                                        </span>

                                    </th>
                                    <th colspan="2">
                                        Profit / Previous ME (max BPC run)
                                        <span class='small' data-toggle="tooltip" data-placement="top" title="This value takes adjusted quantities when building more than one item, as the game only round quantities after taking run into account.">
                                            <i class="fa fa-exclamation-circle"></i>
                                        </span>

                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% set run_delta_max = cost_per_me[0]['job_price_max_run'] -%}
                                {% for level in range(0,11) -%}
                                <tr id="ME-profit-{{ level }}">
                                    {% set build_cost_max = "%0.2f" % (cost_per_me[level]['job_price_max_run'] / blueprint.max_production_limit) -%}
                                    {% set delta_max_me = "%0.2f" % ((run_delta_max - cost_per_me[level]['job_price_max_run']) / blueprint.max_production_limit) -%}
                                    {% set delta_max_run = "%0.2f" % ((cost_per_me[0]['job_price_max_run'] - cost_per_me[level]['job_price_max_run']) / blueprint.max_production_limit) -%}
                                    {% set delta_max_me = delta_max_me | float -%}
                                    {% set delta_max_run = delta_max_run | float -%}
                                    {% set delta_max_run_pc = "%0.3f" % (delta_max_run / cost_per_me[0]['job_price_max_run'] * blueprint.max_production_limit * 100) -%}
                                    {% set delta_max_me_pc = "%0.3f" % (delta_max_me / run_delta_max * blueprint.max_production_limit * 100) -%}
                                    <td class="level">{{ level }}</td>
                                    <td>{{ build_cost_max | float | intcomma }}</td>
                                    <td class="delta">{{ delta_max_run | intcomma }}</td>
                                    <td class="price-percent">{{ delta_max_run_pc | float | intcomma }}%</td>
                                    <td class="delta">{{ delta_max_me | intcomma }}</td>
                                    <td class="price-percent">{{ delta_max_me_pc | float | intcomma }}%</td>
                                </tr>
                                {% set run_delta_max = cost_per_me[level]['job_price_max_run'] -%}
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>

                    <!-- TE Tab -->
                    <div class="fade tab-pane" id="te-tab">
                        <table class="te-list table table-condensed table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Level</th>
                                    <th>Time</th>
                                    <th>Time from current level</th>
                                    <th>Installation Cost</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for level in range(1,11) -%}
                                {% set level_modifier = (250 * 2**(1.25 * level - 2.5) / 105)%}
                                {% set research_duration = activity_material.time * level_modifier %}
                                {% set research_cost = "%0.2f" % (base_cost * index_list[3] * 0.02 * level_modifier * 1.1) %}
                                <tr id="TE-{{ level }}">
                                    <td class="level">{{ level }}</td>
                                    <td class="total">{{ research_duration | duration }}</td>
                                    <td class="delta">{{ research_duration | duration }}</td>
                                    <td class="price">{{ research_cost | float | intcomma }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>

                    <!-- Copy Tab -->
                    <div class="fade tab-pane" id="copy-tab">
                        <table class="copy-data table table-condensed table-hover table-striped">
                            <tr>
                                <th>Copy time</th>
                                <td class="copy-time">{{ activity_copy.time | duration }}</td>
                            </tr>
                            <tr>
                                <th>Installation Cost</th>
                                {% set copy_cost = "%0.2f" % (base_cost * index_list[5] * 0.02) -%}
                                <td class="copy-cost">{{ copy_cost | float | intcomma }}</td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}

