{% extends "base.html" %}

{% block title %}:: Copy/Research :: {{ blueprint.name }}{% endblock %}

{% block js %}
{% set pref = current_user.pref %}
    <script>
        researchBlueprint.options.baseCost = {{ base_cost }};
        researchBlueprint.options.baseCopyTime = {{ activity_copy.time }};
        researchBlueprint.options.baseMeTime = {{ activity_material.time }};
        researchBlueprint.options.baseTeTime = {{ activity_time.time }};
        researchBlueprint.options.maxRunPerCopy = {{ blueprint.max_production_limit }};

        researchBlueprint.options.indexes['{{ pref.research_system }}'] = {};
        {% for activity, index in index_list.iteritems() -%}
        researchBlueprint.options.indexes['{{ pref.research_system }}'][{{ activity }}] = {{ index }};
        {% endfor %}

        // configs from user preferences
        researchBlueprint.options.facility = {{ pref.research_facility }};
        researchBlueprint.options.system = '{{ pref.research_system }}';
        researchBlueprint.options.structureTeRig = {{ pref.research_te_rig }};
        researchBlueprint.options.structureMeRig = {{ pref.research_me_rig }};
        researchBlueprint.options.structureCopyRig = {{ pref.research_copy_rig }};
        researchBlueprint.options.structureSecStatus = '{{ pref.research_security }}';

        researchBlueprint.options.metallurgyLevel = {{ industry_skills['metallurgy'] }};
        researchBlueprint.options.researchLevel = {{ industry_skills['research'] }};
        researchBlueprint.options.scienceLevel = {{ industry_skills['science'] }};
        researchBlueprint.options.advancedIndustryLevel = {{ industry_skills['adv_industry'] }};

        researchBlueprint.options.meImplant = {{ pref.research_me_implant }};
        researchBlueprint.options.teImplant = {{ pref.research_te_implant }};
        researchBlueprint.options.copyImplant = {{ pref.research_copy_implant }};

        lb.run('researchBlueprint');
    </script>
{% endblock %}



{% block content %}
{% set pref = current_user.pref %}
<div class="row">
    <div class="col-md-3 col-sm-4">
        <div class="well">
            <div>
                Facility<br>
                <select name="facility" id="facility" class="form-control input-sm">
                    <option value="0" {% if pref.research_facility == 0 -%}selected{%- endif %}>Station</option>
                    <option value="1" {% if pref.research_facility == 1 -%}selected{%- endif %}>Raitaru (M-EC)</option>
                    <option value="2" {% if pref.research_facility == 2 -%}selected{%- endif %}>Azbel (L-EC)</option>
                    <option value="3" {% if pref.research_facility == 3 -%}selected{%- endif %}>Sotiyo (XL-EC)</option>
                    <option value="4" {% if pref.research_facility == 4 -%}selected{%- endif %}>Other Structures</option>
                    <option value="8" {% if pref.research_facility == 8 -%}selected{%- endif %}>Laboratory</option>
                    <option value="9" {% if pref.research_facility == 9 -%}selected{%- endif %}>Hyasyoda Laboratory</option>
                </select>
            </div>
            <div class="structure-configs" style="{% if not pref.is_structure(pref.research_facility) -%}display: none;{%- endif %} margin-top:5px">
                Time Reduction Rigs <br>
                <div class="btn-group btn-group-justified" id="structure-me-rig" data-toggle="buttons" style="width:100%">
                    <label class="btn btn-sm btn-default {% if pref.research_me_rig == 0 -%}active{%- endif %}">
                        <input type="radio" name="structure-me-rig" autocomplete="off" value="0" {% if pref.research_me_rig == 0 -%}checked{%- endif %}>No ME
                    </label>
                    <label class="btn btn-sm btn-default {% if pref.research_me_rig == 1 -%}active{%- endif %}">
                        <input type="radio" name="structure-me-rig" autocomplete="off" value="1" {% if pref.research_me_rig == 1 -%}checked{%- endif %}>T1 ME
                    </label>
                    <label class="btn btn-sm btn-default {% if pref.research_me_rig == 2 -%}active{%- endif %}">
                        <input type="radio" name="structure-me-rig" autocomplete="off" value="2" {% if pref.research_me_rig == 2 -%}checked{%- endif %}>T2 ME
                    </label>
                </div>
                <div class="btn-group btn-group-justified" id="structure-te-rig" data-toggle="buttons" style="width:100%">
                    <label class="btn btn-sm btn-default {% if pref.research_te_rig == 0 -%}active{%- endif %}">
                        <input type="radio" name="structure-te-rig" autocomplete="off" value="0" {% if pref.research_te_rig == 0 -%}checked{%- endif %}>No TE
                    </label>
                    <label class="btn btn-sm btn-default {% if pref.research_te_rig == 1 -%}active{%- endif %}">
                        <input type="radio" name="structure-te-rig" autocomplete="off" value="1" {% if pref.research_te_rig == 1 -%}checked{%- endif %}>T1 TE
                    </label>
                    <label class="btn btn-sm btn-default {% if pref.research_te_rig == 2 -%}active{%- endif %}">
                        <input type="radio" name="structure-te-rig" autocomplete="off" value="2" {% if pref.research_te_rig == 2 -%}checked{%- endif %}>T2 TE
                    </label>
                </div>
                Copy Time Rigs <br>
                <div class="btn-group btn-group-justified" id="structure-copy-rig" data-toggle="buttons" style="width:100%">
                    <label class="btn btn-sm btn-default {% if pref.research_copy_rig == 0 -%}active{%- endif %}">
                        <input type="radio" name="structure-copy-rig" autocomplete="off" value="0" {% if pref.research_copy_rig == 0 -%}checked{%- endif %}>None
                    </label>
                    <label class="btn btn-sm btn-default {% if pref.research_copy_rig == 1 -%}active{%- endif %}">
                        <input type="radio" name="structure-copy-rig" autocomplete="off" value="1" {% if pref.research_copy_rig == 1 -%}checked{%- endif %}>T1
                    </label>
                    <label class="btn btn-sm btn-default {% if pref.research_copy_rig == 2 -%}active{%- endif %}">
                        <input type="radio" name="structure-copy-rig" autocomplete="off" value="2" {% if pref.research_copy_rig == 2 -%}checked{%- endif %}>T2
                    </label>
                </div>
                System Security<br>
                <div class="btn-group btn-group-justified" id="structure-sec-status" data-toggle="buttons" style="width:100%">
                    <label class="btn btn-sm btn-default {% if pref.research_security == 'h' -%}active{%- endif %}">
                        <input type="radio" name="structure-sec-status" autocomplete="off" value="h" {% if pref.research_security == 'h' -%}checked{%- endif %}>HS
                    </label>
                    <label class="btn btn-sm btn-default {% if pref.research_security == 'l' -%}active{%- endif %}">
                        <input type="radio" name="structure-sec-status" autocomplete="off" value="l" {% if pref.research_security == 'l' -%}checked{%- endif %}>LS
                    </label>
                    <label class="btn btn-sm btn-default {% if pref.research_security == 'n' -%}active{%- endif %}">
                        <input type="radio" name="structure-sec-status" autocomplete="off" value="n" {% if pref.research_security == 'n' -%}checked{%- endif %}>NS/WH
                    </label>
                </div>
            </div>
        </div>
        <div class="well">
            <div>
                System<br>
                <input id="system" type="text" class="form-control input-sm typeahead" value="{{ pref.research_system }}">
            </div>
        </div>
        <div class="well">
            <div class="slider">
                Current ME Level (<span id="ME-Level">0%</span>)<br>
                <div id="ME"></div>
            </div>
            <div class="slider">
                Current TE Level (<span id="TE-Level">0%</span>)<br>
                <div id="TE"></div>
            </div>
        </div>
        <div class="well">
            <div>
                Number of copy<br>
                <input id="copy-number" type="text" class="form-control input-sm" value="1">
            </div>
            <div>
                Runs/copy (max: {{ blueprint.max_production_limit }})<br>
                <input id="run-per-copy" type="text" class="form-control input-sm" value="1">
            </div>
        </div>
        <div class="well">
            <div>
                ME Implant<br>
                <select name="meImplant" id="meImplant" class="form-control input-sm">
                    <option value="1.00" {% if pref.research_me_implant == 1.00 %}selected{% endif %}>None</option>
                    <option value="0.99" {% if pref.research_me_implant == 0.99 %}selected{% endif %}>MY-701</option>
                    <option value="0.97" {% if pref.research_me_implant == 0.97 %}selected{% endif %}>MY-703</option>
                    <option value="0.95" {% if pref.research_me_implant == 0.95 %}selected{% endif %}>MY-705</option>
                </select>
            </div>
            <div>
                TE Implant<br>
                <select name="teImplant" id="teImplant" class="form-control input-sm">
                    <option value="1.00" {% if pref.research_te_implant == 1.00 %}selected{% endif %}>None</option>
                    <option value="0.99" {% if pref.research_te_implant == 0.99 %}selected{% endif %}>RR-601</option>
                    <option value="0.97" {% if pref.research_te_implant == 0.97 %}selected{% endif %}>RR-603</option>
                    <option value="0.95" {% if pref.research_te_implant == 0.95 %}selected{% endif %}>RR-605</option>
                </select>
            </div>
            <div>
                Copy Implant<br>
                <select name="copyImplant" id="copyImplant" class="form-control input-sm">
                    <option value="1.00" {% if pref.research_copy_implant == 1.00 %}selected{% endif %}>None</option>
                    <option value="0.99" {% if pref.research_copy_implant == 0.99 %}selected{% endif %}>SC-801</option>
                    <option value="0.97" {% if pref.research_copy_implant == 0.97 %}selected{% endif %}>SC-803</option>
                    <option value="0.95" {% if pref.research_copy_implant == 0.95 %}selected{% endif %}>SC-805</option>
                </select>
            </div>
        </div>
        <div class="well">
            <div class="slider">
                Adv. Industry (<span id="adv-industry-level-display">{{ industry_skills['adv_industry'] }}</span>)<br>
                <div id="adv-industry-level"></div>
            </div>
            <div class="slider">
                Research (<span id="research-level-display">{{ industry_skills['research'] }}</span>)<br>
                <div id="research-level"></div>
            </div>
            <div class="slider">
                Science (<span id="science-level-display">{{ industry_skills['science'] }}</span>)<br>
                <div id="science-level"></div>
            </div>
            <div class="slider">
                Metallurgy (<span id="metallurgy-level-display">{{ industry_skills['metallurgy'] }}</span>)<br>
                <div id="metallurgy-level"></div>
            </div>
        </div>
    </div>

    <div class="col-md-9 col-sm-8">
        <div class="row">
            <div class="col-xs-10">
                <h4 id="item-name">{{ blueprint.name }}</h4>
            </div>
            <div class="col-xs-2 text-right" id="item-icon">
                {% if config.USE_CCP_ICONS -%}
                <img src="{{ blueprint.icon_32() }}" alt="{{ blueprint.name }}"/>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs" id="tab-links" role="tablist">
                    <li class="active"><a href="#me-tab">Material Efficiency</a></li>
                    <li><a href="#me-eff-tab">Cost / ME</a></li>
                    <li><a href="#te-tab">Time Efficiency</a></li>
                    <li><a href="#copy-tab">Copy</a></li>
                </ul>
                <div class="tab-content">

                    <!-- ME Tab -->
                    <div class="fade in active tab-pane" id="me-tab">
                        <table class="me-list table table-condensed table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Level</th>
                                    <th>Time</th>
                                    <th>Time from current level</th>
                                    <th>Installation Cost</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for level in range(1,11) -%}
                                <tr id="ME-{{ level }}">
                                    <td class="level">{{ level }}</td>
                                    <td class="total">{{ me_time[level]['duration'] | duration }}</td>
                                    <td class="delta">{{ me_time[level]['duration'] | duration }}</td>
                                    <td class="price">{{ me_time[level]['cost'] | floatcomma }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <!-- ME Tab -->
                    <div class="fade tab-pane" id="me-eff-tab">
                        <table class="me-profit table table-condensed table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Level</th>
                                    <th>
                                        Build Cost
                                        <span class='small' data-toggle="tooltip" data-placement="top" title="Based on The Forge prices. Values may be inaccurate but the only goal is to provide a comparison between build costs for each ME level, when built in station.">
                                            <i class="fa fa-exclamation-circle"></i>
                                        </span>
                                    </th>
                                    <th colspan="2">Profit / ME 0%</th>
                                    <th colspan="2">Profit / Previous ME</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for level in range(0,11) -%}
                                <tr id="ME-profit-{{ level }}">
                                    <td class="level">{{ level }}</td>
                                    <td>{{ cost_per_me[level]['run'] | intcomma }}</td>
                                    <td class="delta">{{ cost_per_me[level]['delta_me0'] | floatcomma }}</td>
                                    <td class="price-percent">{{ cost_per_me[level]['delta_pct_me0'] | floatcomma }}%</td>
                                    <td class="delta">{{ cost_per_me[level]['delta_prev_me'] | floatcomma }}</td>
                                    <td class="price-percent">{{ cost_per_me[level]['delta_pct_prev_me'] | floatcomma }}%</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        <table class="me-profit table table-condensed table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Level</th>
                                    <th>
                                        Build Cost (max BPC run)
                                        <span class='small' data-toggle="tooltip" data-placement="top" title="Same as build cost, but using max run to test adjusted quantities.">
                                            <i class="fa fa-exclamation-circle"></i>
                                        </span>
                                    </th>
                                    <th colspan="2">
                                        Profit / ME 0% (max BPC run)
                                        <span class='small' data-toggle="tooltip" data-placement="top" title="This value takes adjusted quantities when building more than one item, as the game only round quantities after taking run into account.">
                                            <i class="fa fa-exclamation-circle"></i>
                                        </span>

                                    </th>
                                    <th colspan="2">
                                        Profit / Previous ME (max BPC run)
                                        <span class='small' data-toggle="tooltip" data-placement="top" title="This value takes adjusted quantities when building more than one item, as the game only round quantities after taking run into account.">
                                            <i class="fa fa-exclamation-circle"></i>
                                        </span>

                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for level in range(0,11) -%}
                                <tr id="ME-profit-max-run-{{ level }}">
                                    <td class="level">{{ level }}</td>
                                    <td>{{ cost_per_me[level]['run'] | intcomma }}</td>
                                    <td class="delta">{{ cost_per_me[level]['delta_me0'] | floatcomma }}</td>
                                    <td class="price-percent">{{ cost_per_me[level]['delta_pct_me0'] | floatcomma }}%</td>
                                    <td class="delta">{{ cost_per_me[level]['delta_prev_me'] | floatcomma }}</td>
                                    <td class="price-percent">{{ cost_per_me[level]['delta_pct_prev_me'] | floatcomma }}%</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>

                    <!-- TE Tab -->
                    <div class="fade tab-pane" id="te-tab">
                        <table class="te-list table table-condensed table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Level</th>
                                    <th>Time</th>
                                    <th>Time from current level</th>
                                    <th>Installation Cost</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for level in range(1,11) -%}
                                <tr id="TE-{{ level }}">
                                    <td class="level">{{ level }}</td>
                                    <td class="total">{{ te_time[level]['duration'] | duration }}</td>
                                    <td class="delta">{{ te_time[level]['duration'] | duration }}</td>
                                    <td class="price">{{ te_time[level]['cost'] | floatcomma }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>

                    <!-- Copy Tab -->
                    <div class="fade tab-pane" id="copy-tab">
                        <table class="copy-data table table-condensed table-hover table-striped">
                            <tr>
                                <th>Copy time</th>
                                <td class="copy-time">{{ activity_copy.time | duration }}</td>
                            </tr>
                            <tr>
                                <th>Installation Cost</th>
                                {% set copy_cost = (base_cost * index_list[5] * 0.02) -%}
                                <td class="copy-cost">{{ copy_cost | floatcomma }}</td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}

