{% extends "base.html" %}

{% block title %}:: Search blueprint{% endblock %}

{% block js %}
    <script>
        lb.urls.searchUrl           = '{{ url_for('ajax_eve_sde.blueprint_search', name='0000') }}';
        lb.urls.inventionUrl        = '{{ url_for('blueprint.invention', item_id='999999999') }}';
        lb.urls.manufacturingUrl    = '{{ url_for('blueprint.manufacturing', item_id='999999999') }}';
        lb.urls.researchUrl         = '{{ url_for('blueprint.research', item_id='999999999') }}';
        lb.run('searchBlueprint');
    </script>
{% endblock %}

{% block content %}
<div class="row">
    {% if blueprints %}
    <div class="col-lg-6 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Owned Blueprints</h3>
            </div>
            <div class="panel-body">
                <div class="input-group">
                    <input id="ownedBlueprintSearch" type="text" class="form-control" placeholder="Search">
                    <span class="input-group-btn" data-toggle="buttons" id="toggleCorporationBlueprints">
                        <label class="btn btn-default">
                            <input type="checkbox" autocomplete="off">Corp. Blueprints
                        </label>
                    </span>
                </div>
                <table class="table table-striped table-hover" id="ownedBlueprints">
                    <thead>
                        <th>Blueprint Name</th>
                        <th>ME</th>
                        <th>TE</th>
                        <th>Runs</th>
                        <th>&nbsp;</th>
                    </thead>
                    <tbody>
                        {% for blueprint in blueprints -%}
                        <tr class="blueprint-{% if blueprint.corporation %}corporation{% else %}character{% endif %}" style="{% if blueprint.corporation %}display:none{% endif %}">
                            <td class="name">
                                {% if blueprint.original %}
                                    <span class="label label-primary">BPO</span>
                                {% else %}
                                    <span class="label label-warning">BPC</span>
                                {% endif %}
                                <strong>{{ blueprint.item.name }}</strong></td>
                            <td>{{ blueprint.material_efficiency }}</td>
                            <td>{{ blueprint.time_efficiency }}</td>
                            <td>{% if blueprint.original %}&infin;{% else %}{{ blueprint.total_runs }}{% endif %}</td>
                            <td>
                                {# hack for ancient relics... cat_id = 34 #}
                                {% if blueprint.item.category_id != 34 %}
                                    <a href="{{ url_for('blueprint.manufacturing', item_id=blueprint.item_id, me=blueprint.material_efficiency, te=blueprint.time_efficiency) }}" class="btn btn-default btn-xs pull-right">Manufacture</a>
                                    {% if blueprint.original %}
                                    <a href="{{ url_for('blueprint.research', item_id=blueprint.item_id) }}" class="btn btn-default btn-xs pull-right">Research/Copy</a>
                                    {%- endif %}
                                {% endif %}
                                {% if blueprint.item.activity_products.filter_by(activity=8).first() %}
                                <a href="{{ url_for('blueprint.invention', item_id=blueprint.item_id) }}" class="btn btn-default btn-xs pull-right">Invention</a>
                                {%- endif %}
                            </td>
                        </tr>
                        {%- else -%}
                        <tr><td colspan="5">No blueprints</td></tr>
                        {%- endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="col-lg-6 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Search Blueprint</h3>
            </div>
            <div class="panel-body">
                <input id="blueprint" type="text" class="form-control" placeholder="Item name">
                <br />
                <table class="table table-striped table-hover" id="searchBlueprintResult">
                    <thead>
                        <th>Blueprint Name</th>
                        <th>&nbsp;</th>
                    </thead>
                    <tbody>
                        <tr><td colspan="2">No results</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

