.well legend {
    font-size: @font-size-base;
    line-height: @font-size-base;
    color: @gray-light;
}

.slider {
    margin-top: 5px;
}

.materials-list > tbody > tr {
    > td {
        vertical-align: middle;
        &.icon {
            width:32px;
        };
        &.quantity {
            text-align: right;
            padding-right: 20px;
            width: 20%;
        };
    };
    > th {
        text-align: center;
    };
}
.materials-list-summary {
    text-align: right;
}

.modal-config-price > tbody > tr,
.materials-requirement > tbody > tr ,
.materials-prices > tbody > tr ,
.materials-taxes > tbody > tr ,
.materials-time > tbody > tr {
    > td {
        vertical-align: middle;
        &.icon {
            width:32px;
        };
        &.quantity {
            text-align: right;
            padding-right: 20px;
            width: 20%;
        };
        &.price {
            text-align: right;
            padding-right: 20px;
            width: 20%;
        };
        &.checkbox-cell {
            width: 25px;
            cursor: pointer;

            > input[type='checkbox'] {
                cursor: pointer;
            }
        }
    };
}
.modal-config-price > thead > tr > th {
    &.checkbox-cell {
        width: 25px;
        cursor: pointer;

        > input[type='checkbox'] {
            cursor: pointer;
        }
    }
}


.materials-prices > tfoot, .materials-taxes > tfoot  {
    > tr:nth-child(odd) {
        > td,
        > th {
          background-color: darken(@table-bg-accent, 1%);
        }
    };
    > tr:nth-child(even) {
        > td,
        > th {
          background-color: darken(#FFF, 1%);
        }
    };
    > tr:hover {
        > td,
        > th {
          background-color: darken(@table-bg-accent, 3%);
        }
    };
    > tr {
        > td {
            text-align: right;
            padding-right: 20px;

            &.title {
                font-weight: bold;
            };
        }
    };
}

.copy-data {
    width: 300px;
    margin: 20px auto;
    tbody td {
        text-align: right;
    }
}
.me-profit {
    width: 75%;
    margin: 20px auto;

    thead th {
        text-align: center;
    }
    
    tbody {
        text-align: right;
        .level {
            width: 50px;
        };
        .price-percent {
            width: 65px;
        }
        .delta {
            width: 25%;
        }
    };
}

.te-list, .me-list {
    width: 75%;
    margin: 20px auto;

    thead th {
        text-align: center;
    }
    
    tbody {
        text-align: right;
        .level {
            width: 50px;
        };
        .total, .delta, .price {
            width: 33.33%; /* older browsers fallback */
            width: calc(100% / 3);
        };
    };
}

#bp-tabs {
    margin-bottom:15px;
}

footer {
    bottom: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: @gray-lighter;
    margin:0;
}

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -30px;
    /* Pad bottom by footer height */
    padding: 0 0 30px;
}

.sso-banner {
    .pull-right;
    display: inline-block;
    margin-top: 9px;
    margin-right: 15px;
}

