<div class="col-md-12 sub-list-@@ID@@">
    <div class="row">
        <div class="col-xs-10">
            <h4>
                @@NAME@@
            </h4>
        </div>
        <div class="col-xs-2 text-right">
            {% if config.USE_CCP_ICONS -%}
                <img src="@@ICON@@" alt="@@NAME@@"/>
            {%- endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-sm-3">
            <div class="well">
                <span class="small">
                    <button type="button" class="pull-right btn btn-default btn-xs" data-toggle="modal" data-target="#subComponentBpConfigModal" data-id="@@ID@@">
                        <i class="fa fa-cog"></i>
                    </button>

                    <strong>@@PRODUCT_NAME@@</strong> <br>
                    Qty/run: @@PRODUCT_QTY@@ <br>
                    <strong>Required: </strong><span class="qty-required">@@QTY@@</span> <br>
                    <strong>Runs: </strong><span class="run-required">@@RUN@@</span> <br>
                    ME: <span class="me"></span>% <br>
                    TE: <span class="te"></span>% <br>
                    Facility: <span class="facility"></span><br>
                    <span class="display-structure-config"  style="display: none;">
                        Security: <span class="structure-ss"></span><br>
                        Rigs: <span class="structure-rigs"></span><br>
                    </span>
                    System: <span class="system"></span><br>
                    Time/run: <span class="time-per-run">@@ACTIVITY_TIME_HUMAN@@</span><br>
                    <strong>Total time: </strong><span class="total-time">@@ACTIVITY_TIME_TOTAL@@</span>
                </span>
            </div>
        </div>
        <div class="col-md-10 col-sm-9">
            <table class="table table-condensed materials-list table-hover table-striped">
                <tr>
                    {% if config.USE_CCP_ICONS %}<th>&nbsp;</th>{% endif %}
                    <th>Name</th>
                    <th>Base Qty</th>
                    <th>Adjusted Qty</th>
                    <th>Job Qty</th>
                </tr>
                @@BOM@@
            </table>
        </div>
    </div>
</div>
