    <tr class="price-config-row" data-id="@@ID@@" data-container="body" data-toggle="tooltip" data-placement="top" title="">
        {% if config.USE_CCP_ICONS -%}
        <td class="icon">
            <img src="@@ICON@@" alt="@@NAME@@">
        </td>
        {%- endif %}
        <td>@@NAME@@</td>
        <td>
            <div class="input-group">
                <select name="modal-region" class="form-control form-control-sm modal-region" data-id="@@ID@@">
                    <!-- Region list -->
                </select>
                <span class="input-group-btn">
                    <div class="btn-group btn-group-toggle modal-order-type" data-toggle="buttons">
                        <label class="btn btn-sm btn-outline-secondary btn-sell">
                            <input type="radio" name="modal-order-type-@@ID@@" data-id="@@ID@@" autocomplete="off" value="sell">Sell
                        </label>
                        <label class="btn btn-sm btn-outline-secondary btn-buy">
                            <input type="radio" name="modal-order-type-@@ID@@" autocomplete="off" value="buy" data-id="@@ID@@">Buy
                        </label>
                    </div>
                </span>
            </div>
        </td>
        <td class="checkbox-cell">
            <input type="checkbox" data-id="@@ID@@"/>
        </td>
    </tr>
