<h3>Purge account data</h3>

<div class="alert alert-danger" role="alert">
    Be warned, all actions here <strong>CANNOT be undone and will be permanent</strong>.<br>
    Also, if you don't remove corresponding scopes, the data will be updated again.
</div>


<h5 class="mt-5">Character Data:</h5>
<button class="btn btn-outline-danger my-2" id="delete-char-skills">Delete all characters skills</button><br>
<button class="btn btn-outline-danger my-2" id="delete-char-bp">Delete all characters blueprints</button><br>


<h5 class="mt-5">Corporation Data:</h5>
<button class="btn btn-outline-danger my-2" id="delete-corp-bp">Delete all corporation blueprints</button>

<h5 class="mt-5">Account <em class="small">This will automatically log you out and purge all above data</em></h5>
<button class="btn btn-outline-danger my-2" id="delete-account">Delete my account</button>
