<h3>Update your API scopes to access other features</h3>
<br>
<table class="lb-table-sm">
    <thead>
        <tr>
            <th>Feature</th>
            <th>Scopes</th>
            <th>Description</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>Character skills</strong></td>
            <td>esi-skills.read_skills.v1</td>
            <td><em>Allow to set your character skills in industry configs.</em></td>
            <td data-toggle="buttons" class="cell-btn-1">
                <label class="btn btn-sm btn-outline-secondary mb-0">
                    <input name="scope" type="checkbox" value="esi-skills.read_skills.v1" autocomplete="off">
                    <i class="fa fa-check" aria-hidden="true"></i>
                </label>
            </td>
        </tr>
        <tr>
            <td><strong>Character blueprints</strong></td>
            <td>characterAssetsRead</td>
            <td><em>Get the list of the blueprint your character own.</em></td>
            <td data-toggle="buttons" class="cell-btn-1">
                <label class="btn btn-sm btn-outline-secondary mb-0">
                    <input name="scope" type="checkbox" value="characterAssetsRead" autocomplete="off">
                    <i class="fa fa-check" aria-hidden="true"></i>
                </label>
            </td>
        </tr>
        <tr>
            <td><strong>Corporation blueprints</strong></td>
            <td>corporationAssetsRead</td>
            <td><em>Get the list of the blueprint your corporation own.</em></td>
            <td data-toggle="buttons" class="cell-btn-1">
                <label class="btn btn-sm btn-outline-secondary mb-0">
                    <input name="scope" type="checkbox" value="corporationAssetsRead" autocomplete="off">
                    <i class="fa fa-check" aria-hidden="true"></i>
                </label>
            </td>
        </tr>
    </tbody>
</table>
<p>
    <a class="btn btn-outline-secondary disabled" id="update-scope" href="{{ url_for('sso.login') }}">
        Update scope using EVE Online SSO
    </a>
</p>

<br><br>

<h3>Your current scopes <br><em class="small text-muted">Removing a scope do not purge its data</em></h3>
<br>
<table class="lb-table-sm">
    <thead>
        <tr>
            <th>Character</th>
            <th>Scope</th>
            <th>Last Update</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {% for token in current_user.tokens -%}
            <tr id="scope-{{ current_user.character_id }}" data-scope="{{ token.scope }}" {% if not token.valid %}class="bg-danger" data-toggle="tooltip" data-placement="top" title="This scope is no longer valid (too many errors). It won't be updated unless you delete it and add a new one."{% endif %}>
            <td>{{ current_user.character_name }}</td>
            <td>
                {{ token.scope }}
                {% if not token.valid %}
                    <span class="label label-danger">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Invalid
                    </span>
                {% endif %}
            </td>
            <td>{{ token.get_last_update_string() }}</td>
            <td class="td-valign-middle">
                <button style="margin-left:5px" class="btn btn-sm btn-danger float-right delete-scope" data-scope="{{ token.scope }}" data-char-id="{{ current_user.character_id }}">
                <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </td>
        </tr>
        {%- endfor %}
        {% for alt in current_user.alts_characters.all() -%}
            {%- for token in alt.tokens -%}
            <tr id="scope-{{ alt.character_id }}" data-scope="{{ token.scope }}" {% if not token.valid %}class="bg-danger" data-toggle="tooltip" data-placement="top" title="This scope is no longer valid (too many errors). It won't be updated unless you delete it and add a new one."{% endif %}>
                <td>{{ alt.character_name }}</td>
                <td>{{ token.scope }}
                    {% if not token.valid %}
                        <span class="label label-danger">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Invalid
                        </span>
                    {% endif %}
                </td>
                <td>{{ token.get_last_update_string() }}</td>
                <td class="td-valign-middle">
                    <button style="margin-left:5px" class="btn btn-sm btn-danger float-right delete-scope" data-scope="{{ token.scope }}" data-char-id="{{ alt.character_id }}">
                    <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
            {%- endfor %}
        {%- endfor %}
    </tbody>
</table>