<h3>Invention Settings</h3>
<br>

<div class="form-group row">
    <label for="xxxx" class="settings-label">Facility</label>
    <div class="settings-field">
        {{ pref.label_facility(pref.invention_facility) }}
    </div>
</div>
<div class="form-group row">
    <label for="xxxx" class="settings-label">Invention Time Rig</label>
    <div class="settings-field">
        {{ pref.label_rig(pref.invention_invention_rig) }}
    </div>
</div>
<div class="form-group row">
    <label for="xxxx" class="settings-label">Copy Time Rig</label>
    <div class="settings-field">
        {{ pref.label_rig(pref.invention_copy_rig) }}
    </div>
</div>
<div class="form-group row">
    <label for="xxxx" class="settings-label">Security</label>
    <div class="settings-field">
        {{ pref.label_security(pref.invention_security) }}
    </div>
</div>
<div class="form-group row">
    <label for="xxxx" class="settings-label">System Index</label>
    <div class="settings-field">
        {{ pref.invention_system }}
    </div>
</div>
<div class="form-group row">
    <label for="xxxx" class="settings-label">Region Price</label>
    <div class="settings-field">
        {{ invention_price_region.name }}
    </div>
</div>
<div class="form-group row">
    <label for="xxxx" class="settings-label">Price Type</label>
    <div class="settings-field">
        {{ pref.invention_price_type }}
    </div>
</div>
<div class="form-group row">
    <label for="xxxx" class="settings-label">Character Skills</label>
    <div class="settings-field">
        {% if pref.invention_character %}{{ pref.invention_character.character_name }}{% else %}None{% endif %}
    </div>
</div>
<div class="form-group row">
    <label for="xxxx" class="settings-label">Implant Copy</label>
    <div class="settings-field">
        {{ pref.label_implant_copy(pref.invention_copy_implant) }}
    </div>
</div>