<h3>Reaction Settings</h3>

<br>

<div class="form-group row">
    <label for="facility-reaction" class="settings-label">Reaction Facility</label>
    <div class="settings-field">
        <select name="facility" id="facility-reaction" class="form-control ">
            <option value="5" {% if pref.reaction_facility == 5 %}selected{%- endif -%}>Athanor</option>
            <option value="6" {% if pref.reaction_facility == 6 %}selected{%- endif -%}>Tatara</option>
        </select>
    </div>
</div>
<div class="form-group row">
    <label for="me-rig-reaction" class="settings-label">Reaction Facility ME Rig</label>
    <div class="settings-field">
        <div class="btn-group btn-group-toggle" id="me-rig-reaction" data-toggle="buttons" >
            <label class="btn btn-outline-secondary {% if pref.reaction_me_rig == 0 %}active{% endif %}">
                <input type="radio" name="me-rig-reaction" autocomplete="off" value="0" {% if pref.reaction_me_rig == 0 %}checked{% endif %}>None
            </label>
            <label class="btn btn-outline-secondary {% if pref.reaction_me_rig == 1 %}active{% endif %}">
                <input type="radio" name="me-rig-reaction" autocomplete="off" value="1" {% if pref.reaction_me_rig == 1 %}checked{% endif %}>T1
            </label>
            <label class="btn btn-outline-secondary {% if pref.reaction_me_rig == 2 %}active{% endif %}">
                <input type="radio" name="me-rig-reaction" autocomplete="off" value="2"{% if pref.reaction_me_rig == 2 %}checked{% endif %}>T2
            </label>
        </div>
    </div>
</div>
<div class="form-group row">
    <label for="te-rig-reaction" class="settings-label">Reaction Facility TE Rig</label>
    <div class="settings-field">
        <div class="btn-group btn-group-toggle" id="te-rig-reaction" data-toggle="buttons">
            <label class="btn btn-outline-secondary {% if pref.reaction_te_rig == 0 %}active{% endif %}">
                <input type="radio" name="te-rig-reaction" autocomplete="off" value="0" {% if pref.reaction_te_rig == 0 %}checked{% endif %}>None
            </label>
            <label class="btn btn-outline-secondary {% if pref.reaction_te_rig == 1 %}active{% endif %}">
                <input type="radio" name="te-rig-reaction" autocomplete="off" value="1" {% if pref.reaction_te_rig == 1 %}checked{% endif %}>T1
            </label>
            <label class="btn btn-outline-secondary {% if pref.reaction_te_rig == 2 %}active{% endif %}">
                <input type="radio" name="te-rig-reaction" autocomplete="off" value="2"{% if pref.reaction_te_rig == 2 %}checked{% endif %}>T2
            </label>
        </div>
    </div>
</div>
<div class="form-group row">
    <label for="sec-status-reaction" class="settings-label">System Security</label>
    <div class="settings-field">
        <div class="btn-group btn-group-toggle" id="sec-status-reaction" data-toggle="buttons" >
            <label class="btn btn-outline-secondary {% if pref.reaction_security == 'l' %}active{% endif %}">
                <input type="radio" name="sec-status-reaction" autocomplete="off" value="l" {% if pref.reaction_security == 'l' %}checked{% endif %}>LS
            </label>
            <label class="btn btn-outline-secondary {% if pref.reaction_security == 'n' %}active{% endif %}">
                <input type="radio" name="sec-status-reaction" autocomplete="off" value="n" {% if pref.reaction_security == 'n' %}checked{% endif %}>NS/WH
            </label>
        </div>
    </div>
</div>
<div class="form-group row">
    <label for="xxxx" class="settings-label">System Index</label>
    <div class="settings-field">
        <input id="system-reaction" type="text" class="form-control typeahead" value="{{ pref.reaction_system }}">
    </div>
</div>

<br>

<div class="form-group row">
    <label for="manufacturing-facility-reaction" class="settings-label">Manufacturing Facility</label>
    <div class="settings-field">
        <select name="facility" id="manufacturing-facility-reaction" class="form-control">
            <option value="0" {% if pref.reaction_manuf_facility == 0 %}selected{%- endif -%}>Station</option>
            <option value="1" {% if pref.reaction_manuf_facility == 1 %}selected{%- endif -%}>Raitaru (M-EC)</option>
            <option value="2" {% if pref.reaction_manuf_facility == 2 %}selected{%- endif -%}>Azbel (L-EC)</option>
            <option value="3" {% if pref.reaction_manuf_facility == 3 %}selected{%- endif -%}>Sotiyo (XL-EC)</option>
            <option value="5" {% if pref.reaction_manuf_facility == 5 %}selected{%- endif -%}>Athanor</option>
            <option value="6" {% if pref.reaction_manuf_facility == 6 %}selected{%- endif -%}>Tatara</option>
            <option value="4" {% if pref.reaction_manuf_facility == 4 %}selected{%- endif -%}>Other Structures</option>
        </select>
    </div>
</div>
<div class="form-group row">
    <label for="manufacturing-me-rig-reaction" class="settings-label">Manufacturing ME Rig</label>
    <div class="settings-field">
        <div class="btn-group btn-group-toggle" id="manufacturing-me-rig-reaction" data-toggle="buttons">
            <label class="btn btn-outline-secondary {% if pref.reaction_manuf_me_rig == 0 %}active{% endif %}">
                <input type="radio" name="manufacturing-me-rig-reaction" autocomplete="off" value="0" {% if pref.reaction_manuf_me_rig == 0 %}checked{% endif %}>None
            </label>
            <label class="btn btn-outline-secondary {% if pref.reaction_manuf_me_rig == 1 %}active{% endif %}">
                <input type="radio" name="manufacturing-me-rig-reaction" autocomplete="off" value="1" {% if pref.reaction_manuf_me_rig == 1 %}checked{% endif %}>T1
            </label>
            <label class="btn btn-outline-secondary {% if pref.reaction_manuf_me_rig == 2 %}active{% endif %}">
                <input type="radio" name="manufacturing-me-rig-reaction" autocomplete="off" value="2"{% if pref.reaction_manuf_me_rig == 2 %}checked{% endif %}>T2
            </label>
        </div>
    </div>
</div>
<div class="form-group row">
    <label for="manufacturing-te-rig-reaction" class="settings-label">Manufacturing TE Rig</label>
    <div class="settings-field">
        <div class="btn-group btn-group-toggle" id="manufacturing-te-rig-reaction" data-toggle="buttons">
            <label class="btn btn-outline-secondary {% if pref.reaction_manuf_te_rig == 0 %}active{% endif %}">
                <input type="radio" name="manufacturing-te-rig-reaction" autocomplete="off" value="0" {% if pref.reaction_manuf_te_rig == 0 %}checked{% endif %}>None
            </label>
            <label class="btn btn-outline-secondary {% if pref.reaction_manuf_te_rig == 1 %}active{% endif %}">
                <input type="radio" name="manufacturing-te-rig-reaction" autocomplete="off" value="1" {% if pref.reaction_manuf_te_rig == 1 %}checked{% endif %}>T1
            </label>
            <label class="btn btn-outline-secondary {% if pref.reaction_manuf_te_rig == 2 %}active{% endif %}">
                <input type="radio" name="manufacturing-te-rig-reaction" autocomplete="off" value="2"{% if pref.reaction_manuf_te_rig == 2 %}checked{% endif %}>T2
            </label>
        </div>
    </div>
</div>
<div class="form-group row">
    <label for="manufacturing-sec-status-reaction" class="settings-label">Manuf. System Security</label>
    <div class="settings-field">
        <div class="btn-group btn-group-toggle" id="manufacturing-sec-status-reaction" data-toggle="buttons" >
            <label class="btn btn-outline-secondary {% if pref.reaction_manuf_security == 'h' %}active{% endif %}">
                <input type="radio" name="manufacturing-sec-status-reaction" autocomplete="off" value="h" {% if pref.reaction_manuf_security == 'h' %}checked{% endif %}>HS
            </label>
            <label class="btn btn-outline-secondary {% if pref.reaction_manuf_security == 'l' %}active{% endif %}">
                <input type="radio" name="manufacturing-sec-status-reaction" autocomplete="off" value="l" {% if pref.reaction_manuf_security == 'l' %}checked{% endif %}>LS
            </label>
            <label class="btn btn-outline-secondary {% if pref.reaction_manuf_security == 'n' %}active{% endif %}">
                <input type="radio" name="manufacturing-sec-status-reaction" autocomplete="off" value="n" {% if pref.reaction_manuf_security == 'n' %}checked{% endif %}>NS/WH
            </label>
        </div>
    </div>
</div>
<div class="form-group row">
    <label for="manufacturing-system-reaction" class="settings-label">Manuf. System index</label>
    <div class="settings-field">
        <input id="manufacturing-system-reaction" type="text" class="form-control typeahead" value="{{ pref.reaction_manuf_system }}">
    </div>
</div>

<br>

<div class="form-group row">
    <label for="char-reaction" class="settings-label">Character Skills</label>
    <div class="settings-field">
        <select name="char" id="char-reaction" class="form-control ">
            <option value="0">None (lvl 0)</option>
            {% for user in list_character_skills -%}
            <option value="{{ user.character_id }}" {% if pref.reaction_character_id == user.character_id %}selected{% endif %}>{{ user.character_name }}</option>
            {%- endfor %}
        </select>
    </div>
</div>

<div class="form-group row">
    <label for="te-implant-reaction" class="settings-label">Manuf. TE Implant</label>
    <div class="settings-field">
        <div class="btn-group btn-group-toggle" id="te-implant-reaction" data-toggle="buttons" >
            <label class="btn btn-outline-secondary {% if pref.reaction_manuf_te_implant == 1.00 %}active{% endif %}">
                <input type="radio" name="te-implant-reaction" autocomplete="off" value="1.00" {% if pref.reaction_manuf_te_implant == 1.00 %}checked{% endif %}>None
            </label>
            <label class="btn btn-outline-secondary {% if pref.reaction_manuf_te_implant == 0.99 %}active{% endif %}">
                <input type="radio" name="te-implant-reaction" autocomplete="off" value="0.99" {% if pref.reaction_manuf_te_implant == 0.99 %}checked{% endif %}>BX-801
            </label>
            <label class="btn btn-outline-secondary {% if pref.reaction_manuf_te_implant == 0.98 %}active{% endif %}">
                <input type="radio" name="te-implant-reaction" autocomplete="off" value="0.98" {% if pref.reaction_manuf_te_implant == 0.97 %}checked{% endif %}>BX-802
            </label>
            <label class="btn btn-outline-secondary {% if pref.reaction_manuf_te_implant == 0.96 %}active{% endif %}">
                <input type="radio" name="te-implant-reaction" autocomplete="off" value="0.96" {% if pref.reaction_manuf_te_implant == 0.96 %}checked{% endif %}>BX-804
            </label>
        </div>
    </div>
</div>

<br>

<div class="form-group row">
    <label for="region-reaction" class="settings-label">Region Price</label>
    <div class="settings-field">
        <div class="input-group">
            <select id="region-reaction" class="form-control">
                {% for region in regions %}
                <option value="{{ region.id }}" {% if reaction_price_region.id == region.id %}selected{% endif %}>{{ region.name }}</option>
                {% endfor %}
            </select>
            <span class="input-group-btn">
                <div class="btn-group btn-group-toggle" id="order-type-reaction" data-toggle="buttons">
                    <label class="btn btn-outline-secondary {% if pref.reaction_price_type == 'sell' %}active{% endif %}">
                        <input type="radio" name="order-type-reaction" autocomplete="off" value="sell" {% if pref.reaction_price_type_pi == 'sell' %}checked{% endif %}>Sell
                    </label>
                    <label class="btn btn-outline-secondary {% if pref.reaction_price_type == 'buy' %}active{% endif %}">
                        <input type="radio" name="order-type-reaction" autocomplete="off" value="buy" {% if pref.reaction_price_type_pi == 'buy' %}checked{% endif %}>Buy
                    </label>
                </div>
            </span>
        </div>
    </div>
</div>


<button type="button" id="btn-save-reaction" class="btn btn-primary">Save</button>
<button type="button" id="btn-reset-reaction" class="btn btn-secondary">Reset</button>
