<div class="modal fade" role="dialog" id="modalConfigProd" aria-labelledby="modalConfigProd" aria-hidden="true" data-bp-id="">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modalConfigProd">Manufacturing Default Settings</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="well">
                                <h4>Blueprint settings</h4>
                                <div>
                                    Facility<br>
                                    <select name="modal-facility" id="modal-facility-main" class="form-control input-sm">
                                        <option value="0" selected>Station</option>
                                        <option value="1">Raitaru (M-EC)</option>
                                        <option value="2">Azbel (L-EC)</option>
                                        <option value="3">Sotiyo (XL-EC)</option>
                                        <option value="4">Other Structures</option>
                                        <option value="5">Assembly Array</option>
                                        <option value="6">Thukker Component Array</option>
                                        <option value="7">Rapid Assembly Array</option>
                                    </select>
                                </div>

                                <div class="modal-structure-configs-main" style="margin-top:5px">
                                    Rigs <br>
                                    <div class="btn-group btn-group-justified" id="modal-structure-me-rig-main" data-toggle="buttons" style="width:100%">
                                        <label class="btn btn-sm btn-default">
                                            <input type="radio" name="modal-structure-me-rig-main" autocomplete="off" value="0">No ME
                                        </label>
                                        <label class="btn btn-sm btn-default">
                                            <input type="radio" name="modal-structure-me-rig-main" autocomplete="off" value="1">T1 ME
                                        </label>
                                        <label class="btn btn-sm btn-default">
                                            <input type="radio" name="modal-structure-me-rig-main" autocomplete="off" value="2">T2 ME
                                        </label>
                                    </div>
                                    <div class="btn-group btn-group-justified" id="modal-structure-te-rig-main" data-toggle="buttons" style="width:100%">
                                        <label class="btn btn-sm btn-default">
                                            <input type="radio" name="modal-structure-te-rig-main" autocomplete="off" value="0">No TE
                                        </label>
                                        <label class="btn btn-sm btn-default">
                                            <input type="radio" name="modal-structure-te-rig-main" autocomplete="off" value="1">T1 TE
                                        </label>
                                        <label class="btn btn-sm btn-default">
                                            <input type="radio" name="modal-structure-te-rig-main" autocomplete="off" value="2">T2 TE
                                        </label>
                                    </div>
                                    System Security<br>
                                    <div class="btn-group btn-group-justified" id="modal-structure-security-main" data-toggle="buttons" style="width:100%">
                                        <label class="btn btn-sm btn-default">
                                            <input type="radio" name="modal-structure-security-main" autocomplete="off" value="h">HS
                                        </label>
                                        <label class="btn btn-sm btn-default">
                                            <input type="radio" name="modal-structure-security-main" autocomplete="off" value="l">LS
                                        </label>
                                        <label class="btn btn-sm btn-default">
                                            <input type="radio" name="modal-structure-security-main" autocomplete="off" value="n">NS/WH
                                        </label>
                                    </div>
                                </div>
                                <div style="margin-top:5px">
                                    System<br>
                                    <input id="modal-system-main" type="text" class="form-control input-sm typeahead" value="Jita">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="well">
                                <h4>Components settings</h4>
                                <div>
                                    Facility<br>
                                    <select name="modal-facility" id="modal-facility-comp" class="form-control input-sm">
                                        <option value="0" selected>Station</option>
                                        <option value="1">Raitaru (M-EC)</option>
                                        <option value="2">Azbel (L-EC)</option>
                                        <option value="3">Sotiyo (XL-EC)</option>
                                        <option value="4">Other Structures</option>
                                        <option value="5">Assembly Array</option>
                                        <option value="6">Thukker Component Array</option>
                                        <option value="7">Rapid Assembly Array</option>
                                    </select>
                                </div>

                                <div class="modal-structure-configs-comp" style="margin-top:5px">
                                    Rigs <br>
                                    <div class="btn-group btn-group-justified" id="modal-structure-me-rig-comp" data-toggle="buttons" style="width:100%">
                                        <label class="btn btn-sm btn-default">
                                            <input type="radio" name="modal-structure-me-rig-comp" autocomplete="off" value="0">No ME
                                        </label>
                                        <label class="btn btn-sm btn-default">
                                            <input type="radio" name="modal-structure-me-rig-comp" autocomplete="off" value="1">T1 ME
                                        </label>
                                        <label class="btn btn-sm btn-default">
                                            <input type="radio" name="modal-structure-me-rig-comp" autocomplete="off" value="2">T2 ME
                                        </label>
                                    </div>
                                    <div class="btn-group btn-group-justified" id="modal-structure-te-rig-comp" data-toggle="buttons" style="width:100%">
                                        <label class="btn btn-sm btn-default ">
                                            <input type="radio" name="modal-structure-te-rig-comp" autocomplete="off" value="0">No TE
                                        </label>
                                        <label class="btn btn-sm btn-default">
                                            <input type="radio" name="modal-structure-te-rig-comp" autocomplete="off" value="1">T1 TE
                                        </label>
                                        <label class="btn btn-sm btn-default">
                                            <input type="radio" name="modal-structure-te-rig-comp" autocomplete="off" value="2">T2 TE
                                        </label>
                                    </div>
                                    System Security<br>
                                    <div class="btn-group btn-group-justified" id="modal-structure-security-comp" data-toggle="buttons" style="width:100%">
                                        <label class="btn btn-sm btn-default">
                                            <input type="radio" name="modal-structure-security-comp" autocomplete="off" value="h">HS
                                        </label>
                                        <label class="btn btn-sm btn-default">
                                            <input type="radio" name="modal-structure-security-comp" autocomplete="off" value="l">LS
                                        </label>
                                        <label class="btn btn-sm btn-default">
                                            <input type="radio" name="modal-structure-security-comp" autocomplete="off" value="n">NS/WH
                                        </label>
                                    </div>
                                </div>
                                <div style="margin-top:5px">
                                    System<br>
                                    <input id="modal-system-comp" type="text" class="form-control input-sm typeahead" value="Jita">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="well">
                                <span>Mineral prices</span>
                                <table class="table table-borderless table-no-margin-bottom">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <select name="modal-region-minerals" class="form-control input-sm modal-region">
                                                    {% for region in regions %}
                                                    <option value="{{ region.id }}">{{ region.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td class="market-type-cell">
                                                <div class="btn-group btn-group-justified modal-region-minerals-type" data-toggle="buttons">
                                                    <label class="btn btn-default btn-sm btn-sell">
                                                        <input type="radio" name="modal-region-minerals-type" autocomplete="off" value="sell">Sell
                                                    </label>
                                                    <label class="btn btn-default btn-sm btn-buy">
                                                        <input type="radio" name="modal-region-minerals-type" autocomplete="off" value="buy">Buy
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <span>PI prices</span>
                                <table class="table table-borderless table-no-margin-bottom">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <select name="modal-region-pi" class="form-control input-sm modal-region">
                                                    {% for region in regions %}
                                                    <option value="{{ region.id }}">{{ region.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td class="market-type-cell">
                                                <div class="btn-group btn-group-justified modal-region-pi-type" data-toggle="buttons">
                                                    <label class="btn btn-default btn-sm btn-sell">
                                                        <input type="radio" name="modal-region-pi-type" autocomplete="off" value="sell">Sell
                                                    </label>
                                                    <label class="btn btn-default btn-sm btn-buy">
                                                        <input type="radio" name="modal-region-pi-type" autocomplete="off" value="buy">Buy
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="well">
                                <span>Moongoo prices</span>
                                <table class="table table-borderless table-no-margin-bottom">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <select name="modal-region-moongoo" class="form-control input-sm modal-region">
                                                    {% for region in regions %}
                                                    <option value="{{ region.id }}">{{ region.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td class="market-type-cell">
                                                <div class="btn-group btn-group-justified modal-region-moongoo-type" data-toggle="buttons">
                                                    <label class="btn btn-default btn-sm btn-sell">
                                                        <input type="radio" name="modal-region-moongoo-type" autocomplete="off" value="sell">Sell
                                                    </label>
                                                    <label class="btn btn-default btn-sm btn-buy">
                                                        <input type="radio" name="modal-region-moongoo-type" autocomplete="off" value="buy">Buy
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <span>Other prices</span>
                                <table class="table table-borderless table-no-margin-bottom">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <select name="modal-region-others" class="form-control input-sm modal-region">
                                                    {% for region in regions %}
                                                    <option value="{{ region.id }}">{{ region.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td class="market-type-cell">
                                                <div class="btn-group btn-group-justified modal-region-others-type" data-toggle="buttons">
                                                    <label class="btn btn-default btn-sm btn-sell">
                                                        <input type="radio" name="modal-region-others-type" autocomplete="off" value="sell">Sell
                                                    </label>
                                                    <label class="btn btn-default btn-sm btn-buy">
                                                        <input type="radio" name="modal-region-others-type" autocomplete="off" value="buy">Buy
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="well">
                                <div>
                                    Character Skills<br>
                                    <select name="modal-char" id="modal-char-prod" class="form-control input-sm">
                                        <option value="0" selected>None (lvl 0)</option>
                                        {% for user in list_character_skills -%}
                                        <option value="{{ user.character_id }}" selected>{{ user.character_name }}</option>
                                        {%- endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" id="modal-prod-apply" data-dismiss="modal" class="btn btn-primary">Apply</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- research dialog -->
<div class="modal fade" role="dialog" id="modalConfigResearch" aria-labelledby="modalConfigResearch" aria-hidden="true" data-bp-id="">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modalConfigResearch">Research Default Settings</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="well">
                                <div>
                                    Facility<br>
                                    <select name="modal-facility" id="modal-facility-research" class="form-control input-sm">
                                        <option value="0" selected>Station</option>
                                        <option value="1">Raitaru (M-EC)</option>
                                        <option value="2">Azbel (L-EC)</option>
                                        <option value="3">Sotiyo (XL-EC)</option>
                                        <option value="4">Other Structures</option>
                                        <option value="8">Laboratory</option>
                                        <option value="9">Hyasyoda Laboratory</option>
                                    </select>
                                </div>

                                <div class="modal-structure-configs-research" style="margin-top:5px">
                                    Time Reduction Rigs <br>
                                    <div class="btn-group btn-group-justified" id="structure-me-rig-research" data-toggle="buttons" style="width:100%">
                                        <label class="btn btn-sm btn-default">
                                            <input type="radio" name="structure-me-rig-research" autocomplete="off" value="0">No ME
                                        </label>
                                        <label class="btn btn-sm btn-default">
                                            <input type="radio" name="structure-me-rig-research" autocomplete="off" value="1">T1 ME
                                        </label>
                                        <label class="btn btn-sm btn-default">
                                            <input type="radio" name="structure-me-rig-research" autocomplete="off" value="2">T2 ME
                                        </label>
                                    </div>
                                    <div class="btn-group btn-group-justified" id="structure-te-rig-research" data-toggle="buttons" style="width:100%">
                                        <label class="btn btn-sm btn-default">
                                            <input type="radio" name="structure-te-rig-research" autocomplete="off" value="0">No TE
                                        </label>
                                        <label class="btn btn-sm btn-default">
                                            <input type="radio" name="structure-te-rig-research" autocomplete="off" value="1">T1 TE
                                        </label>
                                        <label class="btn btn-sm btn-default">
                                            <input type="radio" name="structure-te-rig-research" autocomplete="off" value="2">T2 TE
                                        </label>
                                    </div>
                                    Copy Time Rigs <br>
                                    <div class="btn-group btn-group-justified" id="structure-copy-rig-research" data-toggle="buttons" style="width:100%">
                                        <label class="btn btn-sm btn-default">
                                            <input type="radio" name="structure-copy-rig-research" autocomplete="off" value="0">None
                                        </label>
                                        <label class="btn btn-sm btn-default">
                                            <input type="radio" name="structure-copy-rig-research" autocomplete="off" value="1">T1
                                        </label>
                                        <label class="btn btn-sm btn-default">
                                            <input type="radio" name="structure-copy-rig-research" autocomplete="off" value="2">T2
                                        </label>
                                    </div>
                                    System Security<br>
                                    <div class="btn-group btn-group-justified" id="structure-sec-status-research" data-toggle="buttons" style="width:100%">
                                        <label class="btn btn-sm btn-default">
                                            <input type="radio" name="structure-sec-status-research" autocomplete="off" value="h">HS
                                        </label>
                                        <label class="btn btn-sm btn-default">
                                            <input type="radio" name="structure-sec-status-research" autocomplete="off" value="l">LS
                                        </label>
                                        <label class="btn btn-sm btn-default">
                                            <input type="radio" name="structure-sec-status-research" autocomplete="off" value="n">NS/WH
                                        </label>
                                    </div>
                                </div>
                                <div style="margin-top:5px">
                                    System<br>
                                    <input id="modal-system-research" type="text" class="form-control input-sm typeahead">
                                </div>
                            </div>
                            <div class="well">
                                <div>
                                    Character Skills<br>
                                    <select name="modal-char" id="modal-char-research" class="form-control input-sm">
                                        <option value="0" selected>None (lvl 0)</option>
                                        {% for user in list_character_skills -%}
                                        <option value="{{ user.character_id }}" selected>{{ user.character_name }}</option>
                                        {%- endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="modal-research-apply" data-dismiss="modal" class="btn btn-primary">Apply</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- invention dialog -->
<div class="modal fade" role="dialog" id="modalConfigInvention" aria-labelledby="modalConfigInvention" aria-hidden="true" data-bp-id="">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modalConfigInvention">Invention Default Settings</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="well">
                                <div>
                                    Facility<br>
                                    <select name="modal-facility" id="modal-facility-invention" class="form-control input-sm">
                                        <option value="0" selected>Station</option>
                                        <option value="1">Raitaru (M-EC)</option>
                                        <option value="2">Azbel (L-EC)</option>
                                        <option value="3">Sotiyo (XL-EC)</option>
                                        <option value="4">Other Structures</option>
                                        <option value="8">Design Laboratory</option>
                                        <option value="10">Experimental Laboratory</option>
                                    </select>
                                </div>


                                <div class="structure-configs-invention" style="display: none; margin-top:5px">
                                    Invention Time Rigs <br>
                                    <div class="btn-group btn-group-justified" id="structure-invention-rig-invention" data-toggle="buttons" style="width:100%">
                                        <label class="btn btn-sm btn-default">
                                            <input type="radio" name="structure-invention-rig-invention" autocomplete="off" value="0" checked>None
                                        </label>
                                        <label class="btn btn-sm btn-default">
                                            <input type="radio" name="structure-invention-rig-invention" autocomplete="off" value="1">T1
                                        </label>
                                        <label class="btn btn-sm btn-default">
                                            <input type="radio" name="structure-invention-rig-invention" autocomplete="off" value="2">T2
                                        </label>
                                    </div>
                                    Copy Time Rigs <br>
                                    <div class="btn-group btn-group-justified" id="structure-copy-rig-invention" data-toggle="buttons" style="width:100%">
                                        <label class="btn btn-sm btn-default">
                                            <input type="radio" name="structure-copy-rig-invention" autocomplete="off" value="0" checked>None
                                        </label>
                                        <label class="btn btn-sm btn-default">
                                            <input type="radio" name="structure-copy-rig-invention" autocomplete="off" value="1">T1
                                        </label>
                                        <label class="btn btn-sm btn-default">
                                            <input type="radio" name="structure-copy-rig-invention" autocomplete="off" value="2">T2
                                        </label>
                                    </div>
                                    System Security<br>
                                    <div class="btn-group btn-group-justified" id="structure-sec-status-invention" data-toggle="buttons" style="width:100%">
                                        <label class="btn btn-sm btn-default">
                                            <input type="radio" name="structure-sec-status-invention" autocomplete="off" value="h" checked>HS
                                        </label>
                                        <label class="btn btn-sm btn-default">
                                            <input type="radio" name="structure-sec-status-invention" autocomplete="off" value="l">LS
                                        </label>
                                        <label class="btn btn-sm btn-default">
                                            <input type="radio" name="structure-sec-status-invention" autocomplete="off" value="n">NS/WH
                                        </label>
                                    </div>
                                </div>
                                <div style="margin-top:5px">
                                    System<br>
                                    <input id="modal-system-invention" type="text" class="form-control input-sm typeahead">
                                </div>
                            </div>
                            <div class="well">
                                Price settings <br>
                                <select name="modal-region-invention" class="form-control input-sm modal-region">
                                    {% for region in regions %}
                                    <option value="{{ region.id }}">{{ region.name }}</option>
                                    {% endfor %}
                                </select>
                                <div class="btn-group btn-group-justified modal-region-invention-type" data-toggle="buttons"  style="margin-top:5px">
                                    <label class="btn btn-default btn-sm btn-sell">
                                        <input type="radio" name="modal-region-invention-type" autocomplete="off" value="sell">Sell
                                    </label>
                                    <label class="btn btn-default btn-sm btn-buy">
                                        <input type="radio" name="modal-region-invention-type" autocomplete="off" value="buy">Buy
                                    </label>
                                </div>
                            </div>
                            <div class="well">
                                <div>
                                    Character Skills<br>
                                    <select name="modal-char" id="modal-char-invention" class="form-control input-sm">
                                        <option value="0" selected>None (lvl 0)</option>
                                        {% for user in list_character_skills -%}
                                        <option value="{{ user.character_id }}" selected>{{ user.character_name }}</option>
                                        {%- endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="modal-invention-apply" data-dismiss="modal" class="btn btn-primary">Apply</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
