# flask
Flask>=2.1.2,<2.2
Flask-Caching>=1.10.1
Flask-Login>=0.6.1
Flask-Migrate>=3.1.0
Flask-WTF>=1.0.1

# database
SQLAlchemy>=1.4.36
alembic>=1.7.7

# tasks
celery>=5.0,<6

# others
pytz>=2022.1
humanize>=4.1.0
requests>=2.27.1
ratelimiter>=1.2.0.post0
simplejson>=3.17.6

# EVE API Libs
EsiPy>=1.2.3
