# flask
Flask>=1.1.1
Flask-Caching>=1.8.0
Flask-Login>=0.4.1
Flask-Migrate>=2.5.2
Flask-Script>=2.0.6
Flask-WTF>=0.14

# database
SQLAlchemy>=1.3.12
alembic>=1.3.2

# tasks
celery>=4.4.0

# others
pytz>=2019.3
humanize>=0.5.1
requests>=2.22.0
ratelimiter>=1.1.0
simplejson>=3.17.0

# EVE API Libs
EsiPy>=1.0.0
