flask>=0.11.1
MySQL-python>=1.2.5
pytz>=2016.6.1
sqlalchemy>=1.0.14
Flask-Caching>=1.0.0
Flask-OAuthlib>=0.9.3
Flask-Login>=0.3.2
Flask-Migrate>=2.0.0
Flask-Script>=2.0.5
Flask-WTF>=0.14
alembic>=0.7.6
humanize>=0.5.1
requests>=2.8.1
celery>=4.0,<5.0
ratelimiter>=1.0.2.post0
simplejson>=3.8.2
esipy>=0.1.1
