// LB specific variables
$table-foot-accent-bg-odd: 	rgba($black,.06) !default;
$table-foot-accent-bg-even: rgba($black,.075) !default;
$table-foot-hover-bg-odd: 	rgba($black,.085) !default;
$table-foot-hover-bg-even: 	rgba($black,.1) !default;